[2014-02-08 13:05] oliverklee opened #51 ":first-child and :last-child selectors do not add CSS"
There were 2 failures:

 1) Pelago\Tests\Unit\EmogrifierTest::emogrifierMatchesSelectors with data set "BODY:first-child matches first child" ('body:first-child {color: red} ', '#<p class="p-1" style="color: red">#')
 Failed asserting that '<!DOCTYPE html>
<html id="html"><body>    <p class="p-1"><span>some text</span></p>    <p class="p-2"><span title="bonjour">some</span> text</p>    <p class="p

[2014-02-26 11:47] OzzyCzech opened #68 "Add media print to the preserved media types"
Email tracking tools like https://litmus.com are using follow technique for tracking email prints:

    <style>
        @media print {
            #track {
                background-image: url('http://www.letmeknow.com/print.jpg');
            }
        }
    </style>
    <div id="track"></div>

Current version from #62 PR strip this media query.

[2014-03-10 22:12] oliverklee opened #71 "Add unit tests for nth-child and nth-of-type"

[2014-03-20 17:00] oliverklee opened #76 "Configure a GitHub oauth token"
everzet/capifony#358
https://coderwall.com/p/kz4egw

[2014-03-25 12:33] oliverklee opened #77 "Add the missing method documentation comments"

[2014-04-25 11:37] oliverklee opened #90 "403 errors in Travis during composer install"

[2014-05-29 15:25] oligriffiths opened #91 "Installing as dependency of a package fails"
Hi

I'm writing a package that requires the emogrifier as a dependency of the package, I get an error when trying to install my package, saying that there is no matching package for the emogrifier require.

- oligriffiths/emails-component dev-master requires pelago/emogrifier dev-master-> no matching package found.

However if installing as a require in the root composer.json the package installs

[2014-06-17 19:49] jdchmiel opened #92 "refactor of parseCssDeclarationBlock"
Creating this ticket per request  to not leave comments in the code:

if (!preg_match('/ *([A-Za-z\\-]+) *: *([^;]+) */', $declaration, $matches)) {
                 continue;
}
// can we remove this regex entirely and replace with an explode on :, and conditional on resulting array being 2 strings?

It seems like this regex is only verifying that we have a single css declaration, and then using t

[2014-07-30 09:36] markguinn opened #97 "Semantic versioned releases"
Would it be possible to use github's release feature and semantic versioning? It would make dependencies much easier/safer in composer.

[2014-08-28 19:40] nelson-rivera opened #98 "Emogrifier turns $ into %24 unexpectedly"
I use merge tags in my email bulletins to customize their content, for example to show the name of the recipient, I use the string $[USER:NAME]$ and then I replace it with the name.
If I place the merge tag wrapped in a span or div, there is no inconvenience, but if the merge tag is inside an attribute, let's say an href, emogrifier turns the '$' symbol to '%24' and '[' to '%5B' respectively.
If m

[2014-09-11 11:03] oliverklee opened #99 "Add a CONTRIBUTING.md"

[2014-09-27 22:29] oliverklee opened #101 "Use the "install" target in travis.yml"
http://till.klampaeckel.de/blog/archives/204-Whats-wrong-with-composer-and-your-.travis.yml.html

[2014-12-04 20:03] oliverklee opened #110 "Add PHPMD checks"

[2014-12-11 19:22] oliverklee opened #133 "Use fewer anonymous functions for callables"

[2014-12-11 19:23] oliverklee opened #134 "Clean up early returns"
- only allow early returns for guard clauses
- check where guard clauses would make sense

[2014-12-15 00:38] oliverklee opened #137 "Simplify the doctype handling in the testcase"

[2014-12-15 20:15] oliverklee opened #141 "Make almost all methods private"

[2014-12-15 20:30] oliverklee opened #143 "Drop the automatic conversion to HTML entities"

[2015-01-05 13:34] nuxodin opened #151 "preg_replace: /e modifier is deprecated"
Great Lib!

I get the Deprecated-Warnings:
preg_replace(): The /e modifier is deprecated, use preg_replace_callback instead in /web/junior-atelier.ch/m/mail1/lib/Emogrifier.php on line 287

[2015-01-05 13:36] oliverklee commented on #151
Hi! Thanks for the bug report. Does this problem also occur with the latest version on master? (There is no preg_replace on line 287 of the current version.)

[2015-01-05 13:55] nuxodin commented on #151
Ups sorry, my mistake, everything is perfect

[2015-01-05 13:55] #151 closed

[2015-01-05 14:17] jubi commented on #98
Yes. we run into the same problems with `Twig`.
Emogrifier converts `<a href="{{ var | filter }}">` to `<a href="%7B%7B%20var%20%7C%20filter%20%7D%7D">`

I believe this is a problem in PHP's `DOMDocument` rather than emogrifier itself, though. A fix would be highly appreciated.

[2015-01-05 14:32] oliverklee commented on #98
@jubi Would you be willing to provide a pull request for this?

[2015-01-05 16:46] oliverklee commented on #98
So Emogrifier should not fix attribute values that are not properly encoded as HTML, I think.

[2015-01-05 16:49] jubi commented on #98
@oliverklee
One workaround could be something like this (not very clean):

    public function saveLinks(){
        $xmlDocument = $this->createXmlDocument();
        $xpath = new \DOMXPath($xmlDocument);
        $this->clearAllCaches();

        $nodesWithHrefAttributes = $xpath->query('//*[@href]');
        $this->links = array();
        $id = 0;
        if ($nodesWithHrefAttributes !== FALSE)

[2015-01-05 16:53] Synchro commented on #98
I think a more general way to do it would be to ignore everything within defined delimiters. One way of doing this is to search for everything that matches the delimiters, like `\{\{.*\}\}` and replace it with an identifier as in your example. Then run the inliner, which should ignore the hashes as being plain text, then do a search and replace to put everything back again. The only problem with t

[2015-01-05 16:57] jubi commented on #98
@Synchro
I disagree. We are already using a DOM parser. Falling back to regex does not seem a good approach to me. Plus the problem only occurs in `href`s anyway. Doing it your way would match every variable, even those, that would never be affected by the initial problem.

[2015-01-05 16:58] oliverklee commented on #98
Using a regular expression approach to first find all href attribute values and then restore them afterwards would be fine with me.

[2015-01-05 17:02] Synchro commented on #98
It's not using a regex to parse HTML - it's using a regex to parse template syntax. Does it not also happen in other places like `src` and CSS `url()` items? I can foresee other situations where template syntax could confuse a DOM parser, for example if you had something like:

[code]

(ok, so that's a bit contrived!)

[2015-01-05 17:07] oliverklee commented on #98
Actually, I think a better way would be to first render the template and then put it through Emogrifier. This would solve the problem of passing a template that might not be valid (X)HTML.

[2015-01-05 17:10] Synchro commented on #98
That's reasonable for cached content, or pages that don't change - but I'm using it for email where my template remains the same, but it's different every time its rendered, and it's likely to be rendered hundreds of thousands of times, so processing the output is very inefficient.

[2015-01-05 17:16] oliverklee commented on #98
I think as long as we are using a DOM-based approach in Emogrifier, we won't be able to work with templates that are invalid XHTML.

However, for templates that are valid XHTML, the only remaining problem are href and src attributes that automatically get URL-encoded. So saving and restoring those should suffice.

I don't know whether url() items in CSS are affected. @Synchro or @jubi, would you b

[2015-01-11 15:11] webdevilopers commented on #76
:+1:

[2015-01-23 10:58] oliverklee opened #152 "Set up branch aliases in Composer.json"

[2015-01-27 10:55] oliverklee opened #153 "Document how we handle XHTML"
… and add some unit tests for this behavior.

[2015-02-08 04:44] NeoEGM opened #154 "CSS media queries are not detected (thrown away) if there are CSS comments outside CSS selector blocks"
# Example code

**Try to emogrify the following responsive HTML:**
https://github.com/mailchimp/email-blueprints/blob/master/responsive-templates/base_boxed_basic_query.html

# Where is the problem

**On the private member function "splitCssAndMediaQuery".**
The regular expression doesn't account for comments outside selector blocks. Specially after them, before the final closing "}" for the media

[2015-02-12 09:15] oliverklee commented on #154
Hi NeoEGM, thanks a lot for the detailed bug report! I'll have a look at it.

[2015-02-20 03:21] gabrieldamour commented on #97
Can we add the release number somewhere in a file of the project (in README, Emogrifier.php or elsewhere) so it can be parsed and used by a tool using the lilbrary ?

[2015-02-20 11:09] oliverklee commented on #97
Hi Gabriel,

thanks for the suggestion (which I :+1:). :-) Do you have a good example of a format which would be best both for parses and humans?

[2015-02-22 23:46] gabrieldamour commented on #97
Hi Oliver
I'm not a specialist of that, but I can suggest a few tips:
* attach it to the most important file, the one that will be present in every usage of the lib (ie Emogrifier.php might be a better choice than README.md)
* insert it as a comment at the beginning of the file
* Precede it with a constant string on the same line (for more robust regexp parsing): eg: `Version: 1.0.0`
* stick to th

[2015-05-06 22:44] erikhansen opened #155 "Add ability to disable inlining CSS from <style> tags"
I am getting ready to use Emogrifier on a project where we do *not* want to have Emogrifier look for CSS styles inside of `<style>` blocks. I recommend that this option be added to the Emogrifier class so that users can disable the parsing of `<style>` tags.

This feature is mentioned in the third bullet point here: https://github.com/jjriv/emogrifier#caveats

I plan on submitting a pull request t

[2015-05-08 18:22] oliverklee commented on #155
I like adding that option.

However, I'm not in favor of just passing in an options array as this will make catching typos in the array keys very hard. Instead, I'd prefer to have a two fields $isInlineStylesParsingEnabled and $isStyleBlocksParsingEnabled (both having true as the default value), and two dedicated methods to disabled these two options (disableInlineStylesParsing() and disableStyleB

[2015-05-08 18:48] erikhansen commented on #155
@oliverklee After I wrote up my proposed approach, I thought about the issue with misspelled options. Your approach makes perfect sense. I will work on a pull request to add the new functionality + unit tests.

Splitting "style blocks" and "inline styles" makes a lot of sense.

[2015-05-08 19:03] oliverklee commented on #155
Great, thanks!

[2015-05-11 08:12] SimonEast opened #160 "No support for !important?"
It seems that `!important` isn't honoured correctly.

When given this input...

[code]

The result (incorrectly) is...

[code]

[2015-05-11 08:21] hybridwebdev commented on #160
Actually you're wrong, it is assigned correctly. Your definition of div applies to all generic div elements, however the class definition overwrites it.

[2015-05-11 08:25] SimonEast commented on #160
No, I don't believe that's correct.

If you run this fiddle in your browser you'll see that the text appears green, not red.

http://jsfiddle.net/simoneast/h5c1s5c1/

[2015-05-11 08:54] oliverklee commented on #160
!important currently indeed is not supported. Would you be willing to tackle this in a pull request?

[2015-05-11 12:06] SimonEast commented on #160
I'd be happy to give it a go, but work is hectic at the moment and I may not have time for a few weeks.  Perhaps this missing feature could be mentioned in the README until support is provided?

[2015-05-11 15:22] #160 closed

[2015-05-11 15:23] oliverklee commented on #160
Thanks for mentioning it. I've added the documentation in PR #161.

Looking forward to your pull request, @SimonEast! <3

[2015-05-11 15:51] oliverklee commented on #90
We have this problem again. Sigh.

(Actually, we have this problem when there are more than a few builds per day.)

[2015-05-15 11:37] #155 closed

[2015-05-26 18:16] #97 closed

[2015-05-27 21:51] oliverklee commented on #90
https://translate.google.com/translate?sl=auto&tl=en&js=y&prev=_t&hl=de&ie=UTF-8&u=http%3A%2F%2Fblog.champs-libres.coop%2Fdev%2F2015%2F01%2F30%2Fauthenticate-against-github-travis-composer.html&edit-text=&act=url

[2015-06-07 13:17] oliverklee opened #166 "Convert the PHPUnit calls to static calls"

[2015-06-07 13:40] oliverklee opened #167 "Reformat the README"
Lines should be no longer than 80 characters so the raw file displays nicely on GitHub,

[2015-06-07 18:01] oliverklee opened #171 "Add a CHANGELOG.md"

[2015-06-07 18:02] oliverklee opened #172 "Investigate whether we can get rid of any re-encoding altogether"
i.e., whether we can drop the ENCODING constant.

[2015-06-08 10:15] Synchro commented on #98
My rough idea for a template syntax workaround is this:

[code]
This, in theory at least, should be reasonably robust, and it's simple and fast. It hides all template markup from emogrifier then restores it afterwards. Most common template tag contexts should survive. It could get messy if you have template tags that generate style sheets, in which case you have a chicken and egg problem... This w

[2015-06-08 10:34] oliverklee commented on #98
Hi @Synchro , thanks for the implementation proposal.

Actually, the PR #170 should fix this by not encoding the text nodes anymore.

[2015-06-11 15:22] #98 closed

[2015-06-11 15:22] #143 closed

[2015-06-11 16:22] oliverklee commented on #90
It looks like we actually need to create the oauth token (#76).

[2015-06-11 23:03] oliverklee commented on #90
I've opened a ticket for Travis CI: https://github.com/travis-ci/travis-ci/issues/4073

[2015-06-11 23:09] oliverklee opened #174 "The PHPDoc for fillStyleAttributesWithMergedStyles is missing the @ for the return"

[2015-06-12 17:09] jjriv commented on #90
Thanks. Let me know if there is anything I can do to help.

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.com<http://www.myintervals.com>
____________________________________________________________________

From: Oliver Klee [mailto:not

[2015-06-16 11:30] Renkas commented on #153
[code]
This row is messing up my HTML. It double encodes the entities I already have in my (XHTML) document. If I return $xmlDocument->saveHTML() directly then everything seems to be fine. All entities that were not encoded in input are already encoded by DOMDocument

[2015-06-16 11:31] oliverklee commented on #153
@Renkas Thanks for the bug report. Could you please open a ticket for this (and, even better, a PR)? Thanks!

[2015-06-16 11:31] oliverklee commented on #153
(or comment in #172)

[2015-06-16 11:34] Renkas commented on #172
I'll add the same info here also:

[code]
This row is messing up my HTML. It double encodes the entities I already have in my (XHTML) document. If I return $xmlDocument->saveHTML() directly then everything seems to be fine. All entities that were not encoded in input are already encoded by DOMDocument.

Right now in my case the code is not working as expected.

[2015-06-19 07:59] Renkas commented on #154
Why convert input to DOMDocument, then back to string so that it could be converted to DOMDocument again? :)

Wouldn't it be better to just run RemoveCommentsFromCSSCode() on the whole input HTML string?

[2015-06-19 08:05] oliverklee commented on #154
Yes, of course. Thanks for noticing!

@Renkas Would you be interested in putting the concept into a PR?

[2015-06-19 12:09] Renkas commented on #154
Sorry - that was the workaround not the fix that did double converting. I added the fix as suggested by @NeoEGM and also added a testcase.

[2015-06-19 12:54] #99 closed

[2015-06-19 12:55] #166 closed

[2015-06-19 12:55] #153 closed

[2015-06-19 14:56] Synchro opened #179 "Errors with malformed CSS"
I ran into two errors when processing some malformed style tags.

The style tag contained some stray HTML injected by ckeditor:

[code]

Trying to process this produced two errors. The first is caused by it choosing `<style data-cke-temp="1">html` as a selector, which will not convert to a valid xpath query:

[code]

The second is a consequence of this, attempting to iterate over the failed result

[2015-06-19 15:25] oliverklee commented on #179
As for the cause of the error: I'm for having a whitelist of characters (i.e., a regular expression) which we can use to validate those selectors before using them.

[2015-06-19 17:16] Synchro commented on #179
I had a little look into matching selectors - it's not simple at all! I think the only invalid char in that selector is `<` - everything else is valid in other contexts.

[2015-06-24 13:36] clindh opened #182 "Emogrifyer and meta-specified charset=utf-8 problem"
I have a problem with Emogrifyer when the parsed html contains a meta-specified charset e.g.
&lt; meta http-equiv="Content-Type" content="text/html; charset=utf-8” &gt;

The UTF-8 characters are somehow mangled, but ONLY when charset=utf-8 is present

I have prepared a test in this sandbox where you can replicate the problem
http://sandbox.onlinephpfunctions.com/code/fc85874bb3c6f0a44406fa446885e1

[2015-06-24 16:11] oliverklee commented on #182
Hi @clindh, thanks for the bug report. Could you please try whether PR #175 fixes the problem for you?

[2015-06-28 13:08] oliverklee commented on #76
This is what the configuration file looks like at the TYPO3 project:
https://review.typo3.org/#/c/40687/2/.travis.yml

[2015-06-30 22:16] andrejdanko commented on #182
I fixed is by removing mb_convert_encoding (as the DOMDocument is already UTF-8) and then it works well.

[2015-07-05 12:23] oliverklee opened #184 "Convert to the short array syntax"

[2015-07-05 12:26] oliverklee opened #185 "Use === '' instead of strlen for checking for empty strings"

[2015-07-05 12:28] oliverklee opened #186 "Change the @var for $this->visitedNodes from DOMNode[] to DOMElement[]"

[2015-07-05 21:49] oliverklee opened #188 "Make HTML5 the default document type"

[2015-07-05 22:20] #172 closed

[2015-07-05 22:22] oliverklee commented on #182
HI @clindh, I've just merged #189. Could you please test whether the problem is solved for you using the current master?

[2015-07-05 22:26] #174 closed

[2015-07-05 22:33] #186 closed

[2015-07-05 22:38] oliverklee opened #192 "parseNth does nonsense with $multiplier"
$multiplier is an int. So doing strlen does not make sense. We should cover this with unit tests first, though, so we can be sure we don't break anything.

[2015-07-05 23:06] oliverklee opened #195 "Use more specific types than array in PHPDoc"

[2015-07-06 08:56] oliverklee opened #199 "Use the PSR-2 CodeSniffer standard"

[2015-07-06 18:45] #68 closed

[2015-07-06 19:21] #154 closed

[2015-07-06 19:22] oliverklee commented on #154
Hi @NeoEGM, I've polished and merged the fix for this bug in #201. Thanks for your contribution of reporting the bug and proposing the solution!

[2015-07-07 07:22] Sam152 opened #202 "Only preserve media queries that contain selectors that match elements in the markup."
Currently all media queries are kept and placed into the document. It would be useful to discard any media queries which have no bearing on the actual document and keep the ones which contain selectors that match elements in the document.

[2015-07-07 08:23] oliverklee commented on #202
Hi @Sam152, thanks for the idea. Could you please provide an example?

[2015-07-07 08:27] Sam152 commented on #202
In my use case I am including a large existing stylesheet to accompany my email HTML to match the style of the email to an existing look and feel. This worked pretty well because any extra CSS is just discarded.

Part of the included CSS is a bunch of media queiries. Only 1 or 2 have any bearing on the email template, but the rest are included anyway because emogrifier doesn't check if the media q

[2015-07-07 08:31] oliverklee commented on #202
Ah, okay. Thanks for the explanation.

What do you think about this approach?

1. From the CSS, remove any selectors that do not match any elements in the DOM
2. From the CSS, drop now-empty media queries

And would you be interested in putting this in code, i.e., in a pull request?

[2015-07-07 08:32] oliverklee commented on #179
So I propose discarding any selectors that contain a "<". What do you think about this?

And would you be willing to create a PR for this?

[2015-07-07 08:35] Sam152 commented on #202
Yeah, that could work. I had it in my head that I was going to work backwards by:

1. Looping over all the individual media queries.
2. Loop over the selectors in each of the media queries.
3. If there is a positive match on the document, keep the whole media query.

I think that might be less work as even after the selectors are removed, we'd then still need to detect the empty media queries.

I

[2015-07-07 09:36] oliverklee commented on #202
:+1: Go ahead!

[2015-07-07 13:18] Sam152 commented on #202
Added a PR: https://github.com/jjriv/emogrifier/pull/203

[2015-07-08 07:48] oliverklee opened #204 "Unify the use of PHP_EOL and LF in the tests"

[2015-07-08 18:29] #185 closed

[2015-07-08 18:29] #184 closed

[2015-07-09 21:09] oliverklee opened #209 "Drop the LF after the doctype in the tests"
The LF is not required, and this allows us to make the tests briefer.

[2015-07-09 21:30] jjriv commented on #76
Oliver,

I am sorry for the delay. I was on vacation and just returned today.

If I add the token to the .travis.yml file it should work?

Would it be easier if I emailed you the token directly and have you add it? My github skills are rusty. Or, if you could give me some basic step by step instructions, I can do the update and commit.

Thanks!

John

______________________________________________

[2015-07-09 21:50] oliverklee opened #210 "Profile the performance and find bottlenecks"
@vanderlee Would you be willing to provide a performance testcase for this with some (bigger) real-world-like data?

[2015-07-10 06:26] vanderlee commented on #210
I'll see what I can do. These probably won't fit in PHPUnit and can't produce clean "ok/fail" results as they depend on many external factors. Also, they would slow down the automated tests significantly.

[2015-07-10 07:33] oliverklee commented on #210
@vanderlee Great, thanks!

Actually, the performance tests should not be PHPUnit tests, but just some PHP scripts that generate some numbers (and be it that they provide some bigger data and a starter script which allows us to profile the performance using xdebug).

[2015-07-10 09:41] vanderlee commented on #210
Any preference for a directory/file structure? It'll have to use atleast a few large HTML files that I prefer not to mix with the code. I suggest a subdirectory with a simple index page to select options and corpus, a "testrunner" page and a subdirectory for the HTML files.

[2015-07-10 16:17] oliverklee commented on #210
Tests/Performance/...Test.php
Tests/Performance/TestData/....html, ....css

[2015-07-10 18:38] vanderlee commented on #210
Just to jump ahead a bit; how good (roughly) is the unittest coverage?

I tried some basic things (tuning `trim`, `strtolower`, `in_array` and `strlen`'s, there's even an entire `preg_replace_callback` that can be removed if the `strtolower` truely doesn't have an impact), with zero change to the unittests and an easy ~25% performance increase. ([here](https://github.com/vanderlee/emogrifier/tree/

[2015-07-11 10:26] oliverklee commented on #182
Closing due to no feedback. @clindh Please feel free to reopen this ticket if the problem still occurs.

[2015-07-11 10:26] #182 closed

[2015-07-11 10:26] oliverklee commented on #210
The unit tests code coverage (regarding both the lines and the functionality) is almost perfect. The only not yet covered yet is first-child/last-child/nth-child functionality. This functionality currently is broken, and I'd prefer if we fixed it first. I'll appreciate any help on that: #192 #51 #71

[2015-07-11 11:58] oliverklee commented on #91
Closing because there has been no feedback for more than six months. @oligriffiths Please feel free to reopen this issue if the problem still occurs for you.

[2015-07-11 11:58] #91 closed

[2015-07-12 11:14] oliverklee opened #212 "Document emogrifyBodyContent in the README"
Hi @vanderlee, could you please add a few lines of documentation for emogrifyBodyContent to the README so that others know they can use it? Thanks!

If you put "[ci skip]" (without the quotes) into the commit message description, you can skip the (in this case unnecessary) Travis build.

[2015-07-12 11:20] oliverklee commented on #76
@jjriv I think only you can do this because you are the owner of the Travis account.

This is how to do this:

1. Create a new read-only oAuth token and store it somewhere on your computer.
2. Install RubyGems on your computer
3. gem install travis
4. travis encrypt GITHUB_COMPOSER_AUTH=yourOAuthTokenFromStep1
5. modify our .travis.yml as in https://review.typo3.org/#/c/40687/2/.travis.yml , but u

[2015-07-12 14:16] vanderlee commented on #212
I'm done.

This, including all the tweaks, could have been done many hours of work ago and I no longer feel my time is best spent continuing on.

Feel free to take over this and my other changes.

[2015-07-12 14:18] vanderlee commented on #210
The requirements this project puts on it's contributions make it highly inefficient, ineffective and, quite frankly, frustrating. I may contribute some things for this issue and/or other changes, but I will no longer be wasting my time on clearly subjective matters that do not impact the quality or functionality in (IMHO) any meaningful way.

[2015-07-12 15:56] oliverklee opened #213 "Change most CssInliner tests to use renderBodyContent"
This should make the tests a lot shorter.

[2015-07-12 16:34] oliverklee commented on #213
With #206, we can now simplify the tests.

[2015-07-12 16:36] oliverklee commented on #212
This is the documentation for #206.

[2015-07-21 16:29] jjriv commented on #76
Oliver,

I hit a snag trying to install travis. I am using Centos 6.6 but the repos don't go higher than Ruby 1.8.7. I could email you the key and you could encrypt it. Or, if there was another way to run travis encrypt I could do it there.

Here is the error:

[root@a1sb ~]# gem install travis
ERROR:  Error installing travis:
        highline requires Ruby version >= 1.9.3

Here are some links to

[2015-07-22 16:20] oliverklee commented on #76
As far as I understand it, it's you who needs to do the encrypting (because it's your Travis account where Emogrifier is located).

You can install Ruby via RVM instead of via your Linux' packages:

    \curl -sSL https://get.rvm.io | bash
    rvm get stable
    rvm install 2.2
    rvm use 2.2 --default

https://rvm.io/rvm/basics

[2015-07-28 05:15] NeoEGM commented on #154
You're welcome!

On 07/06/2015 04:22 PM, Oliver Klee wrote:

[2015-08-02 12:33] oliverklee opened #216 "Make copyCssWithMediaToStyleNode private"

[2015-08-02 13:31] #202 closed

[2015-08-02 13:38] #216 closed

[2015-08-02 13:48] #167 closed

[2015-08-02 13:55] #212 closed

[2015-08-02 13:58] oliverklee commented on #199
We already have this.

[2015-08-02 13:58] #199 closed

[2015-08-03 11:23] oliverklee opened #222 "Add more sniffs"
https://packagist.org/packages/typo3-ci/typo3sniffpool

[2015-08-04 17:05] #76 closed

[2015-08-04 17:06] oliverklee commented on #90
This should be fixed by #223.

[2015-08-04 17:06] #90 closed

[2015-08-04 17:08] #209 closed

[2015-08-11 13:20] rroblik opened #226 "Document the required PHP version"
Hi,

I've read nothing about PHP minimum version needed to be able to use Emogrifier.
I updated to last version, and my scripts stop working.

I think that it is because "new" (php 5.4+) array syntax :
`private $excludedSelectors = [];`

As i'm runing php 5.3.3 I need (and maybe other people) need to downgrade ...

Thanks to document.

[2015-08-11 13:24] oliverklee commented on #226
Thanks for the suggestion. Currently, it's only enforced (and kind of documented) in the composer.json. I'll take care of documenting it in the README.

[2015-08-13 22:41] #222 closed

[2015-08-13 23:00] #204 closed

[2015-09-04 14:27] digitaloutback opened #227 "Negative attribute selectors a[href^="tel"]"
Is this a known issue?

[2015-09-04 15:28] oliverklee commented on #227
No, not as far as I know.

@digitaloutback Could you please provide steps to reproduce the problem, the expected result and the actual result?

And would you be willing to provide a pull request that has a unit test for the problem and a fix? That would be awesome!

[2015-09-09 06:37] Sam152 opened #228 "Use 'static::' instead of 'self::'."
Right now methods being 'private' instead of 'protected' makes it very hard for people extending emogrifier for their own purposes to replaces specific parts of the library.

Using 'self::' is very similar, instead of calling the method on the instance (which might subclass emogrifier), it always calls methods on the Pelago\ Emogrifier class.

[2015-09-09 09:09] oliverklee commented on #228
I have concerns that making all private methods protected might make people depend on these methods (the naming and signature, and the existence of the methods in the first place), which would make refactoring harder. Or, we might break things for other people when we refactor the code.

It is very important to me that we are able to refactor our code.

What do you think about this, @Sam152?

[2015-09-13 14:37] oliverklee opened #229 "Pin the PHPCS and PHPMD versions"
This will avoid warnings when new versions are released, which would block contributors.

[2015-09-13 14:38] oliverklee opened #230 "Add a pre-commit hook"
http://tech.zumba.com/2014/04/14/control-code-quality/

[2015-09-29 09:27] sanderkruger opened #235 "data uris not supported"
Style declarations with images referenced as a [Data URI](https://en.wikipedia.org/wiki/Data_URI_scheme) will break.

The regex in the method parseCssDeclarationBlock probably trips over the semicolon in the data URI syntax and mistakes it for a style declaration delimiter.

I'm not enough of a crack in regular expressions to correct this.

[2015-09-29 21:33] oliverklee opened #236 "Enhance the CONTRIBUTING guidelines"
https://github.com/jjriv/emogrifier/pull/233#issuecomment-144197468

[2015-09-29 22:15] sanderkruger commented on #235
I found that the problem is not so much with the regular expression as with the code that splits a css block into declarations. It uses explode(';' for this, chopping up the data uri.

I tried out a workaround that works (but isn't bullet-proof) for the most common data uris:
first replace ';base64' with '@base64', then do all the parsing then reverse the replacement.

If this is good enough for a

[2015-09-30 07:49] oliverklee commented on #235
Sounds good!

[2015-09-30 17:15] Synchro commented on #179
Yes, I think that's reasonable. Where would I find the code that identifies selectors?

[2015-09-30 17:22] Synchro opened #237 "Noisy error on malformed CSS"
Much like #179, I've been getting this from something malformed:
[code]

That line is:

    $nodesMatchingCssSelectors = $xpath->query($this->translateCssToXpath($selector['selector']));

So it may well be fixed by a fix for #179 by eliminating the bogus selector, but it shouldn't throw a noisy error like this anyway. Better to just ignore the content. When I've tracked down the content responsibl

[2015-10-01 23:09] oliverklee commented on #179
That should be https://github.com/jjriv/emogrifier/blob/master/Classes/Emogrifier.php#L337 in the method parseSelectors.

[2015-10-01 23:10] oliverklee commented on #237
What CSS is causing this problem?

[2015-10-02 07:35] sanderkruger opened #239 "Styles to modify the webmail container are not preserved"
Emogrifier does a good job cleaning up the styles but this makes it impossible to add fixes for quirks in email readers that intend to modify known classes that the email reader uses.

For example, selectors .ExternalClass or #outlook a are widely used to fix some issues with Outlook. While these quirks are bound to disappear over time, since they are still used, it would be useful to be able to k

[2015-10-02 07:57] oliverklee commented on #239
What do you about a whitelist of styles that are specific to certain webmail containers?

(And doesn't Outlook properly filter/sandbox CSS that might affect the container? AFAIK, Google Mail does that.)

[2015-10-02 09:11] sanderkruger commented on #239
I've seen a lot of articles that try to modify styles of the container of an email, so I think there is or has been a need/purpose for these. I have not been able to see any of these actually make a difference, so the examples I gave may be obsolete now.

Nonetheless, it seemed useful to me to have an option on emogrifier that tells it not to touch certain CSS rules and leave them in the head sect

[2015-10-02 12:27] oliverklee commented on #239
Sounds fair.

[2015-10-02 14:55] nathanpitman opened #240 "Placeholders for variables with curly brackets are HTML encoded by emogrification"
I'm using the Emogrifier to emogrify a template which includes placeholders for dynamic content in the format:

    {my_var}

This is all good with the exception of when a var appears as a href value, i.e.

    <a href="{my_var}">

After emogrification this is returned as:

    <a href="%7Bmy_var%7D">

Any thoughts on how I might prevent that? :)

[2015-10-02 15:06] oliverklee commented on #240
Which version are you using? e29867470e5baa9d03e1f717fc9bd0202400fc55 should have fixed this.

[2015-10-02 20:45] Synchro commented on #179
As I've been reading, it's very hard to match CSS selectors with a regex as they are not a regular grammar. I'm thinking that it would be easier to apply a simple filter to remove stray tags before trying to parse the styles, for example:

    $css = preg_replace('/<[^>]*>/', '', $css);

While this is something of an edge case, it strikes me that this should be both harmless and effective as I can

[2015-10-03 08:01] nathanpitman commented on #240
I think I worked it out, curly brackets in URLs are not valid, therefore they are encoded when the document tree is parsed. I've just implemented the following after Emogrification in my controller...

    $replace = array('%7B' => '{', '%7D' => '}');
    $body = str_replace(array_keys($replace), array_values($replace), $body);

Thanks for the quick reply though. Great library! :)

[2015-10-03 08:01] #240 closed

[2015-10-03 08:27] oliverklee commented on #240
:+1:

[2015-10-09 15:24] oliverklee opened #242 "Drop support for PHP 5.4"
PHP 5.4 was end-of-lifed in September 2015:
http://php.net/supported-versions.php

[2015-10-09 16:18] oliverklee commented on #235
Fixed in #238 / #243.

[2015-10-09 16:18] #235 closed

[2015-10-09 16:19] #229 closed

[2015-10-09 16:31] #226 closed

[2015-10-11 14:41] oliverklee commented on #71
https://developer.mozilla.org/en/docs/Web/CSS/%3Anth-child
https://developer.mozilla.org/en/docs/Web/CSS/%3Anth-of-type

[2015-10-12 07:51] bramley opened #251 "Previous changes to parseCssDeclarationBlock()"
I'm looking at the regular expression in method parseCssDeclarationBlock(), as discussed in issue  "Fix parsing of CSS for data-uri's #238", but then came across this other open issue on the same function  "refactor of parseCssDeclarationBlock" #92.

This looks confusing to me, as the approach proposed in #92, to use explode() instead of the regex, is what used to happen until an earlier change [C

[2015-10-12 08:43] oliverklee commented on #251
If I remember correctly, the point of 49d0735 was to simplify the code and make it more readable.

#92 was just an idea to make the code even more simple and faster. If the proposed breaks the functionality, we shouldn't go that way.

As far as accepting only valid CSS goes, we indeed should only accept valid CSS (as invalid CSS rules are to be ignored as per the specs, which also is how the brows

[2015-10-12 08:44] oliverklee commented on #251
If the proposed changes break anything, this would be a sign that we should first add some unit tests for the cases that would break.

[2015-10-12 09:03] bramley commented on #251
I might not have been clear. The aim of #92 is to change the code to roughly what it was before 49d0735.
But I will ignore #92 then, and have added some test cases that currently fail, which shouldn't.

[2015-10-12 09:15] sanderkruger opened #252 "Invisible node removal: preheaders and responsive design"
Invisible node removal is nice but it creates problems for 2 cases: preheaders and responsive design.

Preheaders are hidden paragraphs at the start of an email to force a digest of the email to show a certain text. When an email is nicely designed with some links at the top or the subject repeated as a header, this is not the most important content you want recipients to see in the email list of

[2015-10-12 09:26] oliverklee commented on #251
:+1:

[2015-10-12 09:26] oliverklee commented on #92
This will probably break the parsing (as mentioned in #251). Closing.

[2015-10-12 09:26] #92 closed

[2015-10-12 09:27] sanderkruger opened #253 "3 tests fail on line-endings on Windows"
The following tests fail on my Windows system:
emogrifyReturnsCompleteHtmlDocument
emogrifyBodyContentReturnsBodyContentFromHtml
emogrifyBodyContentReturnsBodyContentFromContent

All three give the following warning:
 #Warning: Strings contain different line endings!

I'd suggest normalizing line endings before comparing output in the test cases.

[2015-10-12 09:27] oliverklee commented on #251
Great! Closing this ticket and looking forward to your PR with the added test cases.

[2015-10-12 09:27] #251 closed

[2015-10-12 09:27] oliverklee opened #254 "Rename all $xpath to $xPath"

[2015-10-12 09:29] oliverklee commented on #252
Sounds good! :+1:

[2015-10-12 09:33] oliverklee commented on #253
Either that, or (even better) we use always the correct line ending for those tests: From the error message, it looks like PHP uses Unix line endings (chr(10)) even on Windows for rendering the HTML. So we should always use chr(10) in those tests, and maybe re-add the class constant self::LF in the test case for that.

[2015-10-12 16:00] oliverklee opened #256 "Resort the methods for better readability"
1. construct etc.
2. setHtml, setCss
3. process
4. processHtml
5. configuration setters
6. protected methods
7. private methods (in the current order?)

[2015-10-12 16:14] oliverklee commented on #152
Fixed in #231.

[2015-10-12 16:14] #152 closed

[2015-10-12 19:26] #51 closed

[2015-10-12 19:26] #192 closed

[2015-10-13 10:03] oliverklee opened #259 "Invalid CSS causes empty style nodes"
https://github.com/jjriv/emogrifier/pull/258#discussion_r41844367

[2015-10-13 10:05] oliverklee opened #260 "Add more test cases for data URIs"
https://github.com/jjriv/emogrifier/pull/258#discussion_r41808260

[2015-10-13 14:51] #260 closed

[2015-10-13 14:56] oliverklee commented on #253
Hi @sanderkruger, could you please test whether the changes in PR #263 fix the tests for you, and then report back in that PR? Thanks!

[2015-10-13 15:48] #171 closed

[2015-10-13 15:57] #188 closed

[2015-10-13 16:01] #236 closed

[2015-10-14 07:33] #253 closed

[2015-10-14 16:25] oliverklee opened #264 "Fix the changelog HTML/MarkDown"
The changelog is rendered incorrectly on GitHub.

[2015-10-14 17:12] #264 closed

[2015-10-15 15:09] #254 closed

[2015-10-15 15:39] #195 closed

[2015-10-18 11:32] oliverklee opened #275 "Format all tests according to the four-phase test"
https://robots.thoughtbot.com/four-phase-test

[2015-10-18 11:36] oliverklee commented on #133
This might make the code actually less readable. Instead, let's check inspect case of a callback and decide whether a dedicated, named method or an anonymous function would be better.

[2015-10-18 11:37] oliverklee opened #276 "Rename things to match the CSS specs even better"
Just more of #255.

[2015-10-20 09:18] taipeiwu opened #278 "Error on processing a[href^="sms"] type selectors"
emogrifier <= 0.1.1 is not wrong, but >= 1.0.0 is wrong.

Beautymail for Laravel 5 (https://github.com/Snowfire/Beautymail) and using Minty template, error:

-----------------------------------------------------------------------------------------------------------------------------

Whoops, looks like something went wrong.

1/1
ErrorException in Emogrifier.php line 723:
DOMXPath::query(): Invalid

[2015-10-20 09:56] oliverklee commented on #278
Hi @taipeiwu, thanks for the bug report!

This looks like it is the same problems as #227.

Would you be willing to provide a pull request with a fix (including unit tests) for this?

[2015-10-20 09:57] oliverklee commented on #278
It is also possible that the having negated attribute selectors just isn't supported yet, and we still might need to add this feature.

[2015-10-22 21:16] #275 closed

[2015-11-06 15:16] peterfox opened #280 "Process CSS selectors with states and add as style block"
Currently if you process CSS with state CSS selectors e.g. :hover these selectors get lost in the inline process. Instead it would be ideal if they're added to the HTML as a style block instead in the same way the media is.

[2015-11-15 15:50] Renkas commented on #237
I got the same problem.

 in /var/www/vendor/pelago/emogrifier/Classes/Emogrifier.php – DOMXPath::query('//a[href^="tel"]') at line 723

[2015-11-15 16:23] oliverklee commented on #237
Okay, so it looks like Emogrifier currently does not support negative attribute selectors (i.e., this is missing feature). Anyone willing to implement this?

[2015-11-15 16:30] Synchro commented on #237
That just sounds like XPath and CSS selectors do not share the same syntax for that kind of lookup. I suspect in my case it was simply malformed CSS rather than a missing feature - e.g. if someone puts HTML tags in the CSS, which I've seen. From the source of my CSS, I strongly suspect it's just random junk rather than anything as sophisticated as this missing selector, so the rename may not be qu

[2015-11-15 16:34] oliverklee commented on #237
Okay, I've reverted the changes to this ticket. Thanks for the input! (We already have #227 for the missing feature anyway.)

[2015-11-15 16:35] oliverklee commented on #237
@Renkas: So it looks like you're experiencing #227.

[2015-12-13 18:54] bramley opened #284 "xpath to css rules limit attribute name and value"
These $xPathRules limit an attribute name and value to be regex "word" characters, which looks unnecessarily restrictive. Depending on how closely it tries to meet the spec at least "-" should be allowed.
[code]
Whereas the rules for matching class and id do allow "-"
[code]

[2015-12-16 19:19] oliverklee commented on #284
Hi @bramley, thanks for the bug report. Would you willing to provide a PR for this (including unit tests that fail without the change)?

[2015-12-21 09:59] bramley opened #286 "first-child and last-child selectors are broken"
There was a basic misunderstanding of what the selector first-child means in the fix for issue  https://github.com/jjriv/emogrifier/pull/257

From https://developer.mozilla.org/en-US/docs/Web/CSS/%3Afirst-child
The :first-child CSS pseudo-class represents any element that is the first child element of its parent.

The code, and the unit tests, think that it means the first child of the named eleme

[2015-12-21 10:10] bramley opened #287 "Use Symfony CSS selector component"
I came across this Symfony component for converting css selectors to xpath https://github.com/symfony/css-selector and wondered whether it has previously been considered?

I would expect it to be much more complete than the current Emogrifier and probably more robust too.

I have made  a simple change to use it instead of the code in method translateCssToXpath() and almost all unit tests pass. Tho

[2015-12-21 14:06] oliverklee commented on #287
Hi @bramley, great suggestion!

I'd like use to first get the bugs in the behavior fixed so that we can start with a green bar (so to speak) and then use these tests to make sure that using the Symfony component does not break anything.

Particularly, I think we should tackle these bugs/tickets first:
#284
#286
#287

Would you be willing to help?

(And I'll also take care of reviewing, polishing a

[2015-12-26 18:09] oliverklee opened #289 "Skip the PHPCS on PHP 7"
… and not have PHP 7 as an allowed failure anymore.

This allows us to still work around the problem with PHPCS in PHP 7 while still have the lint and the unit tests run with PHP 7.

[2015-12-26 22:38] #289 closed

[2015-12-27 14:37] oliverklee commented on #286
@bramley: Could you please test the PR for this (#293) and also verify it by reading?

I've used the XPath equivalents as listed on https://en.wikibooks.org/wiki/XPath/CSS_Equivalents .

[2016-01-08 12:31] demis-palma opened #294 "Actual requirements"
The requirements in the readme file state that the PHP extension Multibyte String is required:
*"PHP from 5.4 to 7.0 (with the mbstring extension)"*
while looking at the code, all the mb_* function calls have been removed a lot of time ago.
Does the documentation needs to be updated, or the dependency from mbstring extension still exist?

[2016-01-08 12:41] oliverklee commented on #294
Hi @demis-palma, thanks for noticing this! Indeed, we can remove this requirement from the documentation and the composer.json. Would you be willing to provide a pull request for this (including a changelog entry)?

[2016-01-08 14:45] demis-palma commented on #294
I'm not a composer expert, but I'll try it with pleasure. Thanks for the opportunity.

[2016-01-24 23:27] demis-palma commented on #294
[Just done](https://github.com/jjriv/emogrifier/pull/295), please check.

[2016-01-28 07:21] visioncan opened #296 "Support @charset in the CSS"
My css file with @charset "UTF-8" like:

[code]

will output wraning:

[code]

[2016-01-28 08:43] oliverklee commented on #296
https://developer.mozilla.org/en/docs/Web/CSS/@charset

Currently, Emogrifier does not support charset in the CSS yet. If you are using only ASCII characters in your CSS, you can safely remove the charset.

[2016-01-28 19:06] #294 closed

[2016-02-03 08:40] MattiJarvinen-BA commented on #227
Symfony css-selector would handle this but maybe just implementing these rules in Emogrifier would help a lot.

https://github.com/symfony/css-selector/blob/master/XPath/Extension/AttributeMatchingExtension.php#L34 and https://github.com/symfony/css-selector/blob/master/XPath/Extension/AttributeMatchingExtension.php#L110

Also adding support for adding xPathRules would be nice.

[2016-03-21 17:30] oliverklee opened #299 "Add a Code of Conduct"
Like this: https://github.com/sebastianbergmann/phpunit/blob/master/CODE_OF_CONDUCT.md

[2016-03-21 18:35] jjriv commented on #299
Definitely agree. Here is another good example:
https://github.com/schneems/postgresql/blob/master/CODE_OF_CONDUCT.md

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.com<http://www.myintervals.com>
________________________________________

[2016-03-23 17:13] CodeAndWeb opened #300 "Emogify breaks Url parameters in <a> tags"
`<a href="https://www.example.com/test?a=1&b=2">test</a>`

becomes

`<a href="https://www.example.com/test?a=1&amp;b=2">test</a>`

& must not be escaped into &amp; in the URL

[2016-03-23 17:52] oliverklee commented on #300
Yes, it must be escaped as a HTML entity for the document to be valid HTML as the ampersand is one the the reserved characters. The URL in the browser when clicking the link will have the ampersand entity decoded.

[2016-03-23 17:52] #300 closed

[2016-03-30 08:40] ernsto opened #301 "Add support for the general sibling combinator"
Hello,

i have an problem with the parsing of my CSS code. Some CSS rules cause warnings because they can not be converted into a valid xpath query.

I debugged the Emogrifier class and found out following:
The CSS rules are translated to xpath queries with the `translateCsstoXpath` method in the line 353 of the `Emogrifier` class.

[code]

Here are some examples of CSS rules which are translated

[2016-03-30 08:43] oliverklee commented on #301
The general sibling combinator currently is not supported yet.  Would you be willing to provide a pull request that provides this feature?

[2016-04-04 09:21] ernsto opened #303 "Add support for wildcards in attribute selectors"
Hello,

currently it is not possible to use a wildcard selector like `[class*=foobar]`.

**Example (wrong xpath result):**
[code]

Therefore i added another element to the `$xPathRules` array which will convert the css selector into a correct xpath expression:

[code]

**Example (correct xpath result):**
[code]

I will make a pull request for this feature.

[2016-04-08 14:25] clarinetlord opened #305 "Add ability to load complete HTML document and return inlined version"
One limiting factor of using this library is that if the HTML and CSS are one complete document, like a stored template, the client has to manually break up the HTML document in order to provide Emogrifier with the HTML within the <body> and and the CSS within the <style> tag. After the inlining, the client has to then reassemble the modified document before passing along to a mailer or other cons

[2016-04-08 14:28] oliverklee commented on #305
Emogrifier also processes style nodes in the HTML HEAD. Is this what you need?

[2016-04-08 14:49] clarinetlord commented on #305
Apologies because I recently came across this library and maybe I don't understand the functionality well enough yet, but the documentation makes it seem like you need to provide the HTML and CSS separately. Are you saying If I just do

`$Emogrifier = new Emogrifier($complete_html_document);`
`$html = $Emogrifier->emogrify();`

does that give me back the complete inlined HTML document?

[2016-04-08 14:53] oliverklee commented on #305
Yes, exactly:
https://github.com/jjriv/emogrifier/blob/master/Tests/Unit/EmogrifierTest.php#L1252

If you think that we should make this more clear in the documentation, would you be willing to provide a pull request for this?

[2016-04-08 14:53] #305 closed

[2016-04-08 14:56] clarinetlord commented on #305
Sure, I'd be happy to do that. Might not be for a few days, but I'll get to it soon.

[2016-04-27 15:37] Synchro commented on #237
I've managed to track down some CSS that's causing this error - it's an empty media query.

In the Emogrifier class, the `extractMediaQueriesFromCss` method finds the media queries, but having an empty one makes it go out of sync and it starts treating a selector as properties.

I've set up the content and the regex it uses [here](https://regex101.com/r/fQ8kA9/1), and you can see it going wrong.

[2016-05-07 15:36] oliverklee opened #311 "Use less regexp in the unit tests"
Regular expressions make the tests harder to read. We should use them only where it is strictly necessary.

[2016-05-07 16:07] oliverklee commented on #299
@jjriv I'm currently working on this. I'd like to put a single email address in the document that forwards to both of us maintainers (me being github at oliverklee dot de). Would you be willing to set up such an email adress?

[2016-05-07 17:07] jjriv commented on #299
Oliver,

I'd be happy to. I'm currently on vacation but send me the instructions on how to do this and I'll see if I can get to it. Otherwise, I can do it when I return on May 18th.

John

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.co

[2016-05-07 18:39] oliverklee commented on #299
John,

I think you'll need to create an address at your email server that then redirects to both other email addresses. I propose the address maintainers AT emogrifier DOT com. What do you think?

[2016-05-07 19:23] jjriv commented on #299
I don't have mail set up for emogrifier dot com. What about emogrifier AT myintervals DOT com? Or something to that effect? I can look into this when I return on the 18th, as it may take some setting up on the mail server side.

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task &

[2016-05-08 13:13] oliverklee commented on #299
Yes, that email address looks fine, too!

[2016-05-09 06:00] sjdaws opened #312 "HTML entities break when ISO encoded"
Hi,

I have some HTML which contains non-breaking spaces, if it is put through the emogrifier it returns with a UTF-8 character which is incorrectly encoded.

Example HTML:
[code]

Expected output:
[code]

Actual output:
[code]

The problem goes away if I remove the charset header but I'm unsure whether there is another approach. This also happens with other entities such as &Ograve;.

Any ideas o

[2016-05-09 08:21] oliverklee commented on #312
Emogrifier does not support ISO8859-1 - it only supports UTF-8 (as stated in the Caveats section in the README).

Does the problem still occur if you switch to UTF-8?

[2016-05-09 08:22] sjdaws commented on #312
I missed that part of the read me, if the meta tag is removed or its set to UTF-8 it works correctly

Sorry about thst

[2016-05-09 08:22] #312 closed

[2016-05-10 14:11] #286 closed

[2016-05-11 12:43] CrazyClicker opened #313 "Not encode some symbols"
Hey there!
Thx for the great plugin, I have a question - it is possible NOT to convert symbols such as "[" or "%" to "%5B%" etc inside tag attributes? Some sort of options or...

`<a href="[% link %]">`

[2016-05-23 17:43] oliverklee commented on #313
Hi @CrazyClicker: Actually, I don't know. At least it's currently not configurable. If you would be willing to come up with a pull request to change the default behavior (including the unit tests for it), this would be very welcome. :-)

[2016-05-23 17:43] #313 closed

[2016-05-24 17:08] jjriv commented on #299
This is set up now.
emogrifier at myintervals dot com

[2016-05-31 16:27] #299 closed

[2016-06-09 14:44] robertotremonti opened #317 "Xpath errors not correctly handled"
Running v0.1.1 and v1.1.1 I get hundreds of PHP warnings thats should be handled.

v0.1.1

[code]

v1.0.0

[code]

[2016-06-09 15:09] oliverklee commented on #317
Hi @robertotremonti, thanks for the bug report. With which HTML and CSS does this problem occur? What would be the minimal HTML/CSS to reproduce the problem?

Does this problem also occur with the latest master?

[2016-06-10 10:25] robertotremonti commented on #317
I'm converting a huge document containing hundreds of CSS rules.
Hard to minimize it.
Do you want me to attach it to this discussion?

[2016-06-10 10:28] oliverklee commented on #317
No, we need a minimal example both to narrow down the cause as well as put it into a unit test. So someone needs to do the work of minimizing the example anyway.

[2016-06-10 10:30] oliverklee commented on #317
I propose using a bisect-like approach: Cut half the CSS repeatedly until the problem disappears, then undo. Then cut from the other side. This should reduce it to a single rule/selector. This will take O(log(n)) time.

[2016-06-13 19:06] #237 closed

[2016-06-14 11:44] robertotremonti commented on #317
I've just isolated two CSS rules that trigger the warnings.

1.
[code]
[code]

2.
[code]
[code]

[2016-06-14 14:34] oliverklee commented on #317
Thanks for the minimized testcases.

Concerning the 2nd error: nth-child currently is not supported properly yet. Would you be willing to provide a pull request for any of these two errors (including the necessary unit tests)?

[2016-06-15 13:15] robertotremonti commented on #317
I'll take a look as soon as possible.

[2016-07-13 21:32] #227 closed

[2016-07-13 21:32] #278 closed

[2016-08-26 14:26] andrispraulitis opened #331 "@import gets removed from style tag"
I'm trying to import custom google fonts css file but emogrifier removes them. How can I use @import?

[2016-09-01 10:06] rauwebieten opened #333 "CSS selectors with colons"
Emogrify throws exceptions when colons are used in a CSS3 selector.
They are converted to an invalid xpath predicate.

Example:

[code]

When just using `a[href^="https"]` (without the colon) there are no problems.

[2016-09-07 10:19] oliverklee commented on #331
This currently is not support, and I'm also not sure that we should support it. I've explained this in #334 .

(Closing as a duplicate of #334 .)

[2016-09-07 10:19] #331 closed

[2016-09-12 18:13] oliverklee opened #338 "Support @import"
For starters, see #334.

[2016-09-12 22:00] oliverklee opened #339 "Drop support for PHP 5.5"

[2016-09-12 22:01] oliverklee commented on #303
This has been implemented in #330.

[2016-09-12 22:01] #303 closed

[2016-09-13 11:30] oliverklee opened #340 "Document that PRs should be made editable"
https://github.com/blog/2247-improving-collaboration-with-forks

[2016-09-13 11:31] oliverklee opened #341 "Release version 1.1.0"
@jjriv I'd like to release version 1.1.0 during the next few days. Would that be okay with you?

(This ticket will also get a PR.)

[2016-09-13 15:24] jjriv commented on #341
That's great! Thanks for keeping on top of Emogrifier.

[2016-09-18 12:29] oliverklee commented on #339
And raise PHPUnit to 5.5.

[2016-09-18 13:25] #341 closed

[2016-09-19 20:01] Voyteck opened #347 "addExcludedSelector does not exclude everything that is in selector"
I use Emgrifier to create confirmation mail for email messages sent to user. Therefore I have an email that contains a section, in which contents of another email (email preview) is put into. Normally sometimes - especially when source email is sent from Microsoft Outlook - Emogrifier ends up with problem:
DOMXPath::query(): Invalid expression in .../Emogrifier.php:366

To avoid Emogrifier from pa

[2016-09-19 20:04] oliverklee commented on #347
@Voyteck0 Thanks for the bug report.

What exactly do you provide as $html to Emogrifier? The PHP code (i.e., including PHP opening and closing tags) or the output of executing PHP (i.e. only HTML, no PHP opening or closing tags)?

[2016-09-19 20:07] oliverklee commented on #347
FYI, excluding selectors does not keep Emogrifier from parsing that part as XML and then re-building it by outputting the XML - it only keeps the CSS from getting applied to it. If you need sections or your HTML to be completely untouched by Emogrifier, you need to put them into CDATA. (But maybe I've completely misunderstood your issue.)

[2016-09-19 20:15] Voyteck0 commented on #347
Hi Oliver...
The code that is provided to Emogrifier is already rendered webpage - basing on template rendering from ZF2. So no PHP tags included - they are already replaced.

The problem is I believe that I am putting an email body into that. Imagine the system that is sending you an information any time email reaches specific account, while inside that notfication you have a body of that email.

[2016-09-19 20:58] oliverklee commented on #347
Hi Wojtek,

could you please quote a minimal HTML and CSS that creates the problem for you? Thanks!

[2016-09-20 08:07] Voyteck0 commented on #347
I could try - but fixing this on the issue level will not be an option.
As I experienced in my project various email clients treats standards in very various, I would say very agile way. That is why even once the problem is solved for this particular mail - on the next one it will come back again.
That is why what I actually needed (and thought it is working that way) is that I can put in a specia

[2016-09-20 10:29] oliverklee commented on #347
I still don't quite understand what the exact issue is (i.e., what you are trying to do and what you mean by "ommited during emogrification process"). So the code would help me understand that.

[2016-09-20 11:35] Voyteck0 commented on #347
Here's the full file that I send to emogrifier:
[mailmessage.txt](https://github.com/jjriv/emogrifier/files/482367/mailmessage.txt)

Still if you look what is inside <message_preview> tag - there you can find "citated" message - and I think Emogrifier messes up there... But in general it happens (as per my current tests) only on Outlook emails - Windows Mail or GMail works fine. However I cannot g

[2016-09-20 13:55] oliverklee commented on #347
Thanks for the code. I'll have a look at it.

Another question: You mentioned "when the email is sent from Microsoft Outlook". What is your workflow with Emogrifier? (I would assume that usually the email client is only used for reading the email, and that it the initial markup (template) is generated manually.)

[2016-09-20 13:57] oliverklee commented on #347
@Voyteck0 In the meantime, would you be willing to provide a PR to make the workings of addExcludedSelector more explicit both in the method PHPDoc as well as in the README?

[2016-09-20 14:44] yurii-github opened #348 "update version in file"
please refresh version @version 1.0.0 t for tag  V.1.1.0

regards

[2016-09-20 15:13] oliverklee commented on #348
Oops, thanks.

[2016-09-20 15:17] oliverklee commented on #348
Done. Thanks!

[2016-09-20 15:17] #348 closed

[2016-09-20 15:51] Voyteck0 commented on #347
@oliverklee - the process my application is realizing, where Emogrifier is being used is following:
1. John@hotmail.com composes email in MS Outlook to Michael@mydomain.com and sends it
2. Email reaches mailserver.mydomain.com
3. Email is qualified as one that should be quarantined and Steve@mydomain.com needs to be notified that such email has been sent to Michael@mydomain.com
4. A confirmation m

[2016-09-20 18:33] oliverklee commented on #347
@Voyteck0 Do you need instructions on how to create a fork and a pull request for this, or do you need more explanations on the PHPDoc changes or the README changes?

[2016-09-21 15:21] Voyteck0 commented on #347
I read a bit and found out what you mean... But I was actually not going to modify your class, but implement that "omitting" functionality in my code (somehow outside the class). I succeeded and please find the code that is realizing that below:

[code]

This is basically part of a function. Generally one of the parameters for the function is $ignoreEmogrifyingTags, which is an array (default arra

[2016-09-22 09:28] oliverklee commented on #347
Thanks for the additional information! I'll have a look at it and then comment here with further ideas. Thanks again!

(And if you have anything else, please feel free to open another ticket. I'd also love it if we could get you on board as a contributor with a pull request. :heart: )

[2016-09-28 16:37] graeme-norman opened #350 "Warning: DOMXPath::query(): Invalid expression in pelago/emogrifier/Classes/Emogrifier.php"
I have a generated CSS file for an email template which is including some partial sass files from my main app - the css is being generated fine but is giving me alot of the following warning...

Warning: DOMXPath::query(): Invalid expression in /var/**/**/**/vendor/pelago/emogrifier/Classes/Emogrifier.php

Here is the CSS output which seems to be causing the error - http://pastebin.com/re6VKSsc

A

[2016-09-29 06:13] oliverklee commented on #350
Hi @graeme-norman, thanks for the bug report!

This probably either is a bug in the CSS parser or a missing feature.

This is how you can help narrow this down:
-  also put some HTML that you use (or that also triggers the problem)
-  try to reduce the CSS to the minimum that still triggers the problem

Thanks again!

[2016-09-29 09:52] graeme-norman commented on #350
Hi @oliverklee, thanks for getting back to me.

I tried removing parts of the template and even swapping the whole template for a single div with Hello world and it was still outputting the same warnings...

So we managed to set the warning error handler and logged $cssRule['selector'] (line 369 of Emogrifier.php) for each time it got the warning and here is the resulting list of the offending sel

[2016-09-29 11:12] oliverklee commented on #350
Thanks for the log! With which version of Emogrifier does this happen? Does the problem also occur with the latest Git master?

[2016-09-29 11:33] oliverklee commented on #350
(We recently released Emogrifier 1.1.0. This version added quite a lot of supported selectors over 1.0.0.)

[2016-09-29 11:43] graeme-norman commented on #350
That's ok. We are using the latest 1.1.0 - I checked for the update yesterday when we found the issue but unfortunately didn't fix the warnings.

[2016-09-29 13:01] oliverklee commented on #350
Thanks! I'll have a look at it. (It might take a while, though.)

[2016-09-30 15:32] graeme-norman commented on #350
Ok great, thanks!

[2016-10-14 05:20] blindner opened #351 "Image CSS "height: auto" doesn't work"
Hi there, I found a glitch where I'm not sure if the issue is on my side or on emogrifier:

I have an image to test, where I expect to be updated, which works fine. However the
definition of height: auto ends in an empty height tag.

My code is as follows:

http://pastebin.com/zpgNYMgN

The result of the created <img> tag is as follows:
![empty_height](https://cloud.githubusercontent.com/assets/68

[2016-10-14 08:44] oliverklee commented on #351
Hi @blindner, thanks for the bug report and the steps to reproduce! I'll have a look at it during the next days. (And if you would like to give it a shot yourself, more power to you.)

[2016-10-14 08:53] oliverklee commented on #351
Oh, and this most probably is a bug in Emogrifier, not in your HTML/CSS.

[2016-10-14 09:08] blindner commented on #351
Hi Oliver, yes I think so... at least I couldn't fix it on my end ;-)

I suggest to remove the width in case of "auto" as the width only allows pixels in this usage as per: http://www.w3schools.com/tags/att_img_width.asp

[2016-10-20 17:26] montchr commented on #350
I'm also getting this issue with Emogrifier 1.1.0 and PHP 7.0.11.

[2016-10-20 18:42] montchr commented on #350
As an example of CSS that triggers the warning (from Normalize.css):

[code]

Seems it's connected to attribute selectors?

[2016-10-24 15:29] dereuromark commented on #350
Can one silence it for now?

[2016-10-24 15:30] dereuromark commented on #351
Looks like the same thing as https://github.com/jjriv/emogrifier/issues/350 .

[2016-10-25 01:13] yellowmamba commented on #91
I bumped this issue as well today, and @JANorman was right. I was using `dev-master` of this package, but I didn't update the `minimum-stability` flag, so it was reporting the package was not found. As long as you add `"minimum-stability": "dev"` in the `composer.json` file, it should work.

[2016-10-25 10:45] oliverklee commented on #91
@yellowmamba Thanks for the additional information! So all is as it should be, right?

[2016-10-25 22:12] yellowmamba commented on #91
@oliverklee Yeah, as far as I can see, there's nothing wrong here. It's just that people can forget to specify the minimum stability (which defaults to `stable`) when they don't use comparable versions of a package.

[2016-10-26 09:21] oliverklee commented on #91
@yellowmamba But installing the released versions (e.g., 1.1.0) without changing default minimum stability works fine?

[2016-10-26 22:03] yellowmamba commented on #91
@oliverklee I haven't tried that, but I presume it would work fine. Composer takes tags as stable.

[2016-11-09 01:23] Bigwebmaster commented on #350
I am also getting this same error with an email template view that I am passing through to emogrifier. I narrowed down the cause to the error to this exact CSS rule:

        div[style*="margin: 16px 0"] {
            margin:0 !important;
        }

When I take that rule out, everything works with no errors. Hope that helps to solve this issue.

[2016-11-09 09:31] oliverklee opened #352 "XPath error with style attribute matcher"
From https://github.com/jjriv/emogrifier/issues/350#issuecomment-259311317 (comment by @Bigwebmaster):

I am also getting this same error with an email template view that I am passing through to emogrifier. I narrowed down the cause to the error to this exact CSS rule:

        div[style*="margin: 16px 0"] {
            margin:0 !important;
        }

When I take that rule out, everything works wi

[2016-11-09 09:32] oliverklee commented on #350
Hi @Bigwebmaster, thanks for the additional information! I've just created issue #352 for exactly this problem. Please let's continue the discussion there.

[2016-11-11 09:46] fsasvari opened #353 "Is there a option to disable generating CSS inside <style> tag ?"
Is there a option to disabled generating CSS inside `<style>` tag ?

I'm sending HTML and CSS code to emogrifier.

`$emogrifier = new Emogrifier($html, $css);`

In HTML i already have `<style>` tag with fixed manually added styles. In CSS I have all CSS that needed to be inlined.

The problem is if I use `$emogrifier->disableStyleBlocksParsing();` it leaves my original <style> but adds 2 other ? H

[2016-11-15 14:09] oliverklee commented on #353
Hi @fsasvari, thanks for reporting this issue.

If you do not want you styles to be inlined, why are you using Emogrifier? (The point of Emogrifier is to inline the CSS. If you do not need this, there is no point in using Emogrifier.)

But maybe I have completely misunderstood the issue. Could you please post/attach the input HTML and CSS, the actual output and output you would have expected? Than

[2016-11-15 14:16] fsasvari commented on #353
@oliverklee No, i want to inline my styles, but the problem is that my original `<style>` data is being truncated.

Is there a option that will inline data from external CSS, but leave my `<style>` tag intact ?

I'm using ZURB foundation for emails, and it has some custom CSS for Outlook Email client like:

[code]
In HTML there is no `#outlook` and no `.ExternalClass` so Emogrifier just exclude do

[2016-11-15 14:21] oliverklee commented on #353
Actually, disableInlineStylesParsing should do the trick. It should not add additional style nodes, though. If it does so, this is a bug. Could you please create a ticket with the input HTML + CSS, the actual result and the expected result? Most helpful would be code that is just enough to reproduce the problem, but is minimal in all other aspects.

[2016-11-15 14:59] fsasvari commented on #353
Actually, I'm using [https://github.com/petecoop/laravel-inky](petecoop/laravel-inky) which generates HTML from inky templates. But I don't think there is a problem with laravel-inky class.

On line 33 at https://github.com/petecoop/laravel-inky/blob/master/src/InkyCompilerEngine.php#L33 there is:

`$emogrifier = new Emogrifier($results, $styles);`

when I use `dump($styles)` everything is ok, I g

[2016-11-15 17:32] fsasvari commented on #353
After additional debugging, it looks like the problem is with [thampe/inky](https://github.com/thampe/inky) package. I don't know where exactly, but somehow it adds addition 2 `<style>` elements.

[2016-11-15 17:32] #353 closed

[2016-11-23 04:20] garhbod opened #354 "Composer Require"
Should we still be using `@dev` or can we now start using `1.1.0` ?

[2016-11-23 09:31] oliverklee commented on #354
Hi, 1.1.0 should be fine.

[2016-11-23 09:31] #354 closed

[2016-12-03 09:13] oliverklee opened #355 "Link to docs for forking and PRs from CONTRIBUTING"

[2016-12-16 10:29] wimulkeman opened #356 "CSS Selector :not() is not parsed"
The following CSS is not parsed by Emogrifier.

`td.columns table:not(.button),
td.column table:not(.button),
th.columns table:not(.button),
th.column table:not(.button) {
  width: 100%; }`

The part which seems to produce a problem is :not(.button). There is no error produced from within Emogrifier.

In the old versions, the CSS would still be available in the stylesheet in the header of the mail

[2016-12-16 10:32] wimulkeman commented on #287
@oliverklee I submitted a issue https://github.com/jjriv/emogrifier/issues/356 which could be fixed with the usage of the Symfony CSS Selector. I would love to see the inclusion of this selector component getting through.

[2017-01-04 19:51] BoilerTom90 opened #357 "disableStyleBlocksParsing() doesn't seem to work."
I'm using the disableStyleBlocksParsing() method before invoking emogrify(). The way I interpreted the documentation is that disableStyleBlocksParsing()  is suppose to leave the style blocks in the html document in addition to placing the styles inline. However, the later isn't happening. That is, the style blocks are left in the html document, but the CSS is not also inlined.

If this is they way

[2017-01-05 05:35] Gabe-SpotMe opened #358 "Move media queries to <body> instead of <head>"
I'm loading in the contents of a css file and emogrifier is correctly moving all the media queries to a STYLE tag in the HEAD of the output.  Since most email clients strip out the HEAD, Foundation for Email recommends that the media queries be placed at the top of the BODY tag.  Is it possible to make that change or create a setting that will do that?

[2017-01-05 07:07] oliverklee commented on #358
Hi @Gabe-SpotMe, do you have any links about the HEAD getting stripped in most email clients and about the requirement from Foundation? Thanks!

[2017-01-05 07:13] oliverklee commented on #357
Hi @BoilerTom90, the functionality is do basically just disable the emogrification (i.e., the conversion of style tags and style attributes). We implemented this in #155 and #156 as requested by @erikhansen.

@erikhansen Why did you need to disable the emogrification of the CSS while still using Emogrifier? (I'm asking because I'm not quite convinced that this actually makes sense.)

[2017-01-05 08:33] Gabe-SpotMe commented on #358
Sure, here's their online inliner.  [](http://foundation.zurb.com/emails/inliner.html)
Take a look at the notes on the right of the page.

[2017-01-05 13:52] erikhansen commented on #357
@oliverklee Magento 1 and Magento 2 use the Emogrifier library and depend heavily on the `disableStyleBlocksParsing` method.

Email styles are split into two LESS files: Styles that are intended to be inlined by Emogrifier ([email-inline.less](https://github.com/magento/magento2/blob/2.1.3/app/design/frontend/Magento/blank/web/css/email-inline.less)) and "non-inline" styles that are intended to be

[2017-01-05 15:09] BoilerTom90 commented on #357
@erikhansen I see why you needed that option/capability.  What I was hoping to achieve is the ability to retain the style sections as well as inline the styles. The reason for this is I know not all styles will be or can be supported for inlining (e.g. pseudo classes).  However, if the style sections are retained some email clients might be able to support the classes.

Thanks everyone for the cla

[2017-01-07 13:37] oliverklee commented on #358
@Gabe-SpotMe Thanks!

[2017-01-07 13:37] oliverklee commented on #358
@Gabe-SpotMe Would you be willing to create a pull request for this?

[2017-01-07 13:39] oliverklee commented on #357
@erikhansen Thanks for the explanation! Would you be willing to create a PR that adds this explanation to the README so the rationale is more clear (particularly for people who don't know this use case yet)? That would be awesome. :heart:

[2017-01-07 13:39] #357 closed

[2017-01-07 20:59] Gabe-SpotMe commented on #358
I just put one up.  I'm a relatively novice developer so I apologize if I missed anything.  My changes worked in my tests though...

[2017-01-07 22:22] oliverklee commented on #358
@Gabe-SpotMe Great!

Could you please add some unit tests that fail without your changes and pass with it? And could you please add a changelog line?

[2017-01-07 23:05] Gabe-SpotMe commented on #358
I added the changelog line and added a note to the readme.  Unfortunately I've never written a unit test before so I'm not quite sure how to do that...

[2017-01-09 20:14] oliverklee commented on #358
@Gabe-SpotMe I'll be glad to help you with the unit tests.

1. Have you already done a "composer install" with your local copy of this Repository? (see https://github.com/jjriv/emogrifier/blob/master/CONTRIBUTING.md#install-the-development-dependencies )
2. Have you already run the existing unit tests using "vendor/bin/phpunit Tests/"? (see https://github.com/jjriv/emogrifier/blob/master/CONTRIBUT

[2017-01-16 10:20] OzzyCzech opened #360 "How to get more information about wrong xPath selector"
We are using emogrifier a lot but sometimes is hard to get right information what's wrong. Mostly we get just `PHP Warning: DOMXPath::query(): Invalid expression in /vendor/pelago/emogrifier/Classes/Emogrifier.php:366`

there is my proposal how to get more information about that type of warnings:

[code]

It's throw an error like : `DOMXPath::query(): Invalid expression in selector >> html input[d

[2017-01-16 13:29] oliverklee commented on #360
Hi @OzzyCzech, great proposal! Would you be willing to create a pull request for this (including unit tests)?

[2017-01-16 13:53] OzzyCzech commented on #360
sure

[2017-01-18 08:39] OzzyCzech commented on #360
done, check latest version

[2017-01-20 12:02] #360 closed

[2017-01-20 15:56] #340 closed

[2017-01-20 15:56] #355 closed

[2017-01-20 17:46] oliverklee commented on #213
This issue depends on #137.

[2017-01-20 19:07] #137 closed

[2017-01-20 19:16] #101 closed

[2017-01-20 20:05] #351 closed

[2017-01-23 19:34] oliverklee opened #366 "Add PHPStan to the CI chain"
https://github.com/phpstan/phpstan
https://blog.martinhujer.cz/how-to-configure-phpstan-for-symfony-applications/

[2017-01-23 19:35] oliverklee opened #367 "Ignore unrecognized/unsupported CSS selectors instead of throwing errors"

[2017-02-04 20:31] erikhansen commented on #357
@oliverklee You're most welcome. Submitted a PR to clarify the option: https://github.com/jjriv/emogrifier/pull/368

[2017-02-14 03:41] Gabe-SpotMe commented on #358
I did the composer install and that worked fine.  But when I try to run existing unit tests I get the following error:
cannot open file "Tests/.php".

[2017-02-14 05:59] monstrfolk commented on #98
src attributes with [ or ] in images is still a problem. Any fix on this?

[2017-02-14 07:18] monstrfolk commented on #98
This is still an issue

[2017-02-14 23:40] oliverklee commented on #358
@Gabe-SpotMe Could you please post the exact command line you've used to run the tests? Thanks!

[2017-02-14 23:41] oliverklee commented on #98
@monstrfolk Could you please open a separate issue for this including the steps to reproduce this, the actual result and the expected result? Thanks!

[2017-02-15 00:43] monstrfolk opened #369 "[ and ] in img src attributes are encoded to %5B and %5D (Drupal-specific)"
I did not do anything special to create this output. Just used Emogrifier per instructions.

You can see the same behavior at [https://www.myintervals.com/emogrifier.php](url)

CSS
[code]

HTML
[code]

ACTUAL
[code]

EXPECTED
[code]

[2017-02-15 11:14] oliverklee commented on #369
@monstrfolk Could you please the code that is needed to reproduce the problem, the expected results and the actual results?

And could you please check that this actually breaks the images? IIRC, encoding the [ and ] in URLs in HTML documents is valid.

[2017-02-15 18:50] Gabe-SpotMe commented on #358
I'm running Windows 10.  I navigated to the emogrifier/vendor/bin directory and tried to run 'phpunit Tests/'

it then shows the following error:
cannot open file "Tests/.php".

If I run just 'phpunit' at that same folder, it does successfully give me PHPUnit 4.7.27 help content.

[2017-02-15 18:54] oliverklee commented on #358
You'll need to be in the package's root directory and then run:
[code]

(Composer bin commands expect to be called from within the package root, not from the vendor/bin/ directory.)

[2017-02-15 18:55] oliverklee commented on #358
On Windows, you also might need to replace the forward slashes with backslashes (depending on which shell you're using).

[2017-02-16 06:16] monstrfolk commented on #369
Sorry to the very bad bug submission. I was traveling, trying to submit the report on my phone, and then lost internet. I have explained in more detail.

[2017-02-16 07:59] oliverklee commented on #369
@monstrfolk Thanks for the explanation!

Have you tested that this actually is a problem, or do the images still load fine?

[2017-02-16 08:00] monstrfolk commented on #369
It is a problem on certain platforms. Images do not load.

[2017-02-16 08:06] oliverklee commented on #369
Can you specify on which platforms the problem occurs?

[2017-02-16 08:08] monstrfolk commented on #369
Drupal

[2017-02-16 08:09] oliverklee commented on #369
Could you please post details? E.g., does Drupal mangle the encoded brackets, is it a problem in certain email clients etc.

[2017-02-16 08:11] monstrfolk commented on #369
It is a problem when Drupal tries to convert tokens. It does not recognize %5B and %5D. The tokens do not get converted.

[2017-02-16 08:13] oliverklee commented on #369
Ah, so the problem ist that the input HTML actually is not valid, but should be valid after Drupal has processed it (if I understand it correctly). However, the behavior of Emogrifier is only well-defined for valid HTML input.

Is there a possibility that you use different delimiters for the tokens, e.g. curly braces (which will not get encoded IIRC)?

[2017-02-16 08:16] monstrfolk commented on #369
No. All tokens are defined by [ and ]. I have committed a patch to the Emogrifier plugin for Drupal that replaces all the %5B and %5D back to [ and ] after Emogrifier processes HTML. It would be nice to remove that step form the module

[2017-02-16 09:41] oliverklee commented on #369
Ah, thanks for the information. Would you be willing to create a pull request for this for Emogrifier?

[2017-02-16 15:06] monstrfolk commented on #369
I committed the patch for the Drupal project. [https://www.drupal.org/project/emogrifier](url). I don't think the pull request would really help.

This is what I did.
[code]

[2017-02-16 18:12] oliverklee commented on #369
Actually, a PR would help as this is the way to get code changes into Emogrifier. :-)

(Usually, the people to whom an issue is important create a PR. And if none of them creates it, there will be no fix for this issue.)

[2017-02-17 13:25] apih commented on #369
From my experience, the value of `href` and `src` attributes will be encoded by DOMDocument when the DOM is dumped into string using `saveHTML` method. Since Emogrifier uses DOMDocument underneath, I don't think this is avoidable, unless someone wants to write code to decode back all `href` and `src` attributes in the final HTML string.

[2017-02-17 13:31] oliverklee commented on #369
Exactly. Thanks for the explanation.

That's why I would prefer Drupal to use different delimiters that won't get auto-encoded (e.g., curly braces).

[2017-02-17 15:17] apih commented on #369
Curly braces are encoded as well. That was my experience, haha. Since I knew my templates used curly braces, I employed the same solution as @monstrfolk in my code, which was to replace all encoded curly braces in the final HTML string.

[2017-02-17 15:20] monstrfolk commented on #369
This issue sounds like a can't fix because of DomDocument. Does anyone know if DomDocument can be configured to selectively encode or exclude specific characters. That would be the best solution IMO.

[2017-02-17 15:22] oliverklee commented on #369
Concerning the workflow, I think it would make sense to first replace the markers and then run Emogrifier on the result instead of the other way around (i.e., a change to Drupal). This would remove the need for hackish workarounds. What do you think?

[2017-02-17 15:28] apih commented on #369
Yes, that's right. Emogrifier should be run last, before sending the HTML out as an email.

[2017-02-17 15:30] oliverklee commented on #369
@monstrfolk Would https://github.com/bjaxelsen/emogrifier be the correct project to report an issue for this?

[2017-02-17 15:32] monstrfolk commented on #369
Unfortunately, a change like that for Drupal will not be possible. Using [ and ] for variable replacement is built into the core.

[2017-02-17 15:32] oliverklee commented on #369
With my question about creating a ticket, I was thinking of changing the order or how things are done, not about changing the [ and ].

[2017-02-17 15:34] monstrfolk commented on #369
I don't think this issue can be reported anywhere currently. Both Emogrifier and Drupal are working as designed. It would be nice to selectively exclude specific characters being encoded. This feature would be useful for { and } as well as @apih explained the same issue.

[2017-02-17 15:40] oliverklee commented on #369
@monstrfolk So it won't be possible to change the Emogrifier Drupal integration that the HTML is emogrified _after_ the markers have been replaced?

[2017-02-17 16:08] monstrfolk commented on #369
Tokens (variables) are replaced after input filters, which is how the Emogifier module works. I will look into that also. Thanks.

[2017-02-17 16:09] oliverklee commented on #369
All right, thanks!

Closing this ticket at this isn't an issue in Emogrifier.

[2017-02-17 16:09] #369 closed

[2017-02-28 08:25] coughsyrupgit opened #370 "Minified CSS is not parsing correctly"
If the css is minified, parsing is not going pretty well.

Here's an example.
We've got minified one-line css file with code:

`.order-totals {background: #e0edf6;}.order-totals>tr>th{font-weight: normal;}.order-totals>tr>th,.order-totals>tr>td{padding: 10px;text-align: right;}.order-totals+tr th,.order-totals+tr td{padding-top: 0;}.price{white-space: nowrap;}`

And the next html:
[code]

In this

[2017-02-28 11:38] oliverklee commented on #370
Hi @coughsyrupgit, thanks for the detailed bug report!

Would you be willing to reduce this to a minimal test case?

And a PR with unit tests and a fix would be even more awesome!

[2017-03-01 15:57] coughsyrupgit commented on #370
Hi @oliverklee.
I would love to, but I am not quite familiar with tests writing =/
If I can help in some another way (maybe providing more specific details), I would do it with pleasure.

[2017-03-01 16:27] coughsyrupgit commented on #370
I'm a frontender, so please guide me, if I do something wrong...
I've run `composer install` and have gotten `Nothing to install`, so I guess, everything is okay with dependencies.
I'm using Magento 2, so I guess the tests are running in a bit different way here -> [Magento Docs](http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-test.html). Should I use this guide to r

[2017-03-01 19:45] oliverklee opened #372 "Release 1.2.0"
@jjriv I'd like to release version 1.2.0 soon so we can get the bug fixes and features that already have been merged out of the door. I'll then move the remaining open tickets/PRs from 1.2.0 to 1.3.0.

Would that be okay with you?

[2017-03-01 19:55] jjriv commented on #372
Go for it. I trust your judgement more than my own :)

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.com<http://www.myintervals.com>
____________________________________________________________________

From: Oliver Klee [mailto:notifica

[2017-03-02 12:28] oliverklee opened #373 "Update the CONTRIBUTING file"
It looks like this still leaves too many questions open.

[2017-03-02 12:29] oliverklee commented on #370
Okay, I think we need to start one step earlier in the process. :-)

Have you already forked the Emogrifier project, and cloned the fork to your local machine? Then, if you run ```composer install``` from the directory of the cloned fork, composer should install phpunit and PHP_CodeSniffer.

(Also please have a look at the CONTRIBUTING.md file. It should have a few helpful links.)

Please let me k

[2017-03-02 12:51] #372 closed

[2017-03-08 17:49] sammuell commented on #350
I ran into the same issue today, also with normalize.css. The problem is not a colon character.
I made a (failing) test case here: https://github.com/sammuell/emogrifier/commit/01376ae740ba8e599da746ba2c8802e64a1794b7

[2017-03-09 15:00] oliverklee commented on #350
Thanks! Adding a link to the PR now: #375

[2017-03-10 10:39] prioritario71 opened #376 "Management of fallback styles"
Hi all.
Is there any way to inline these styles:
[code]
Actually, Emogrifier uses only one of the two properties (the last width value).
Thank you a lot
-Francesco

[2017-03-10 11:36] oliverklee commented on #376
Hi Francesco, no, there is no way to inline this. Sorry.

[2017-03-10 11:36] #376 closed

[2017-03-10 17:29] prioritario71 commented on #376
Hi Oliver. Thank you for your answer.
However, I changed Associative Array containing the original styles in a simple Array with numeric indexes ( and array($attributeName,$attributeValue) as values) and obtained what I needed.
-Francesco

[2017-03-13 23:03] oliverklee commented on #376
Hi @prioritario71, great! Would you be willing to create a pull request for this change (including the unit tests to cover the new behavior including the edge cases)? Then we can integrate this.

[2017-03-20 18:18] maoxiong opened #377 "Comment Tag'd Styles Fail"
Sorry, I didn't know a better title.

I using tiny_mce for a project which automatically puts the html comment tags around any inline styles found in the body area.

This then causes emogrify to give an error :" Uncaught exception 'InvalidArgumentException' with message 'DOMXPath::query(): Invalid expression in selector >>"

Working HTML:
`<html>
<body>
<style type="text/css">
	.header a{font-fami

[2017-03-20 18:40] oliverklee commented on #377
Inside CSS, you need to use /* */ as comment marks. HTML comment marks will make the CSS invalid, causing parsing errors.

Did you comment out the code, or did TinyMCE do that?

[2017-03-20 18:41] oliverklee commented on #377
Oh, I missed the part where you mentioned that it's TinyMCE that did that. Could you please report there that it needs to use CSS comment markers instead of HTML comment markers? Thanks!

[2017-03-20 18:41] #377 closed

[2017-03-20 18:47] maoxiong commented on #377
Unfortunately the project is using an old version of tiny_mce, so it may be fixed in the latest version, just I can't switch to it :(

Ok - so I guess I'll leave my kludging in then! Thanks!

[2017-03-21 04:22] maoxiong opened #378 "Remove the !important flag from CSS rules"
Outlook doesn't support the !important tag in any inline styles, so this should be removed. (If the !important flag is used, it actually ignores the whole rule!)

There is no need for it anyway, as the stylesheets are stripped out anyway.

See: https://www.campaignmonitor.com/blog/email-marketing/2010/05/outlook-2007-and-the-inline-important-declaration/

[2017-03-22 18:04] oliverklee commented on #378
Hi @maoxiong, are you referring to the style tags that are kept in the HEAD section of the document or to the non-CSS styles in the HTML nodes that Emogrifier creates out of the CSS rules?

[2017-03-22 18:05] oliverklee commented on #378
And could you please post/attach the HTML and CSS which you put in, the actual resulting HTML, and the HTML that you would expect to get generated? Thanks!

[2017-03-23 08:36] maoxiong commented on #378
Hi Oliver,

@oliverklee , Sure this is an easy one. Example attached.

Emogrifier is correctly changing the DIV's inline style, but but also putting the "!important" part in, thus making it ignored in Outlook.

As the styles are all inlined  (and the original head style tags stripped) - there is no need to leave that !important in there anyway :)

Of course the media query css in the style tags sh

[2017-03-23 09:20] oliverklee commented on #378
Thanks!

[2017-03-23 09:21] oliverklee commented on #378
Would you be willing to create a pull request for this (including unit tests and the fix)?

[2017-03-23 09:27] maoxiong commented on #378
Hi Oliver - I would love to be able to say yes, but I have no clue how to do that :(

I'm good at finding bugs, but not so good at fixing them! haha.

[2017-03-24 11:54] maoxiong opened #379 "Don't lowercase Margin tags"
Outlook doesn't properly support the "margin" tag in css, however there is a workaround and that is to use "Margin" (note the capital M). This also affects "margin-top", "margin-left" etc.

The problem is that emogrifier seems to convert all inline tags to lowercase when it parses a stylesheet, so breaks Outlook. Workarounds by other parsers seems to be either leave case as-in, or just create two

[2017-03-24 11:59] oliverklee commented on #379
Hi @maoxiong, thanks for the bug report. Are you referring to the conversion of CSS into non-CSS style-related HTML attributes, or to the CSS that is left untouched in the HEAD?

[2017-03-24 12:29] maoxiong commented on #379
CSS into non-CSS = inline right?

Then yes, I mean that. I haven't checked about the untouched (head) style - I'll try that later :)

[2017-03-24 12:32] oliverklee commented on #379
Thanks for the clarification.

Could you please attach the input HTML and CSS, the current output HTML, and the HTML that you would expect to be generated? Thanks!

[2017-04-18 12:09] xenDE opened #380 "remove the class="xxx" from html after converting to inline-css"
the classes are perfect converted, but the class is still present in the html tag:

`<span class="f3" style="color: #AA5500;">`

this blows up the output size.

A switch like

`private $shouldClassesBeRemoved = true;`

would be fine.

[2017-04-18 14:09] oliverklee commented on #380
Or maybe automatically remove all the classes that are not used in the CSS that is kept?

What do you think?

[2017-04-20 12:27] chedaroo commented on #370
@oliverklee I had a quick look to see if I could fix this but struggled to figure out where you match css selectors.

Looking at your tests, [selectorDataProvider()](https://github.com/jjriv/emogrifier/blob/master/Tests/Unit/EmogrifierTest.php#L539) appears to check for the equivilent selectors of:
[code]
But not:
[code]
I guess `p>span` would be the minimal test case requested above?

Apologies f

[2017-04-21 16:10] oliverklee commented on #370
Hi @chedaroo, I've just added this edge case to the tests. It still is green: https://travis-ci.org/jjriv/emogrifier/builds/224392618

So this is not a minimal test case (in the sense that it still exhibits the bug).

[2017-04-26 12:26] laurensschuitemaker opened #381 "XPath error with input[type=text]"
Hi,

I noticed when my CSS contains input[type=text], it throws this error:
DOMXPath::query(): Invalid expression in selector >> div.form-field input[type="submit"] << in Emogrifier.php on line 370

How can I solve this?

Thanks

[2017-04-26 12:51] oliverklee commented on #381
Hi @laurensschuitemaker, this looks like a bug. Could you please post the full CSS rule that triggers this error?

[2017-04-26 17:12] laurensschuitemaker commented on #381
Hi @oliverklee, sure:
div.form-field input[type=text],
div.form-field input[type=password],
div.form-field textarea,
div.form-field select{
	width: 200px;
	padding: 3px;
	border: 1px solid #B6B6B6;
	outline-color: #048399;
}

This also doesn't work (same error):
.form-columns-switcher .column-switcher:nth-child(3n + 1){}

Thanks!

[2017-04-26 17:13] oliverklee commented on #381
Thanks!

[2017-05-18 17:36] ma-boily opened #383 "> :first-child, > :last-child, and multiple attributes selectors generate erroneous XPath"
The following selectors seem to generate invalid XPath, crashing the whole parser:

With `:first-child`:
[code]

With `:last-child`:
[code]

Multiple attributes:
[code]

No regex seem to match any of these 3 cases, causing an `InvalidArgumentException` to be thrown (at https://github.com/jjriv/emogrifier/blob/master/Classes/Emogrifier.php#L1532)

[2017-05-18 19:45] oliverklee commented on #383
@ma-boily Thanks for the detailed bug report! Could you please open separate tickets for each issue? (Tickets for multiple issues are really a pain to work with.) Thanks!

[2017-05-18 19:45] #383 closed

[2017-05-18 19:50] ghost opened #384 "Support > :first-child and > :last-child"
The following selectors seem to generate invalid XPath, crashing the whole parser:

With `:first-child`:
[code]

With `:last-child`:
[code]

The issue is closely related for these two. It causes an `InvalidArgumentException` to be thrown (at https://github.com/jjriv/emogrifier/blob/master/Classes/Emogrifier.php#L1532)

[2017-05-18 19:52] ghost opened #385 "Add support for multiple attributes selectors"
Similar to #384. The following selector seem to generate invalid XPath, crashing the whole parser:

[code]

An `InvalidArgumentException` is thrown (at https://github.com/jjriv/emogrifier/blob/master/Classes/Emogrifier.php#L1532)

[2017-05-18 19:55] ma-boily commented on #383
@oliverklee Thanks for the prompt reply. I've split the 3 problems in two separate issues (:first-child and :last-child seem to be going to need a very similar fix). The third one though, seems a lot trickier from my understanding (as it uses regex for matching and replacing, it'd need an alternate way to iterate on all selectors).

Opened issues: #384 and #385

[2017-05-19 07:41] oliverklee commented on #383
@ma-boily Thanks! ❤️

[2017-06-09 04:51] joeworkman commented on #384
`:not(.class)` selectors also trigger this error.

[2017-06-09 13:58] joeworkman opened #390 "Support :not(.class)"
When using a CSS selector like `table:not(.button)`, it cause the following fatal error:

[code]

[2017-06-20 13:27] MAYBUGgh opened #391 "Inline "style" attribute should have the highest priority"
In the browser inline styles override CSS's styles. Emogrifier replaces inline rules with ones from CSS instead. For example, I have an HTML-code:
`<div class="some_class" style="backgorund-image: /images/1.jpg;"></div>`
And CSS-code:
`.some_class{
    backgorund-image: url('/images/2.jpg');
}`
After emogrifying I have:
`<div class="some_class" style="backgorund-image: /images/2.jpg;"></div>`

[2017-06-21 09:08] MAYBUGgh commented on #391
I've tried more combinations and it looks like problem is in my code not in emogrifier. I'll provide more information later.

[2017-06-21 09:55] MAYBUGgh commented on #391
OK, I've found out some details. The problem is not in my code and not in the Emogrifier - it 's in user's corrupted HTML such as `<div class="some_class" class="another_class" style="backgorund-image: /images/1.jpg;"></div>`. In this case Emogrifier takes "background-image" (or any other style) from the last "class" attribute specified in the tag ("another_class" for the shown example) instead of

[2017-06-21 10:37] oliverklee commented on #391
In that case, I'd say that the behavior is undefined, and it's okay for Emogrifier to work differently than a browser. (Or, in other words, garbage in, garbage out. ;-) )

Thanks for reporting this and doing the research! :heart:

[2017-06-21 10:37] #391 closed

[2017-07-19 07:25] oliverklee opened #394 "Update the composer stuff in Travis"
We should make sure that the application works both with the lowest allowed stable version of the dependencies as well as the latest ones. According to Nils Adermann, we also should commit the composer.lock. I'll need to read up on that before doing anything in that direction.

http://naderman.de/slippy/slides/2017-07-13-T3DD17-Composer-Best-Practices.pdf

[2017-07-26 15:01] Renkas commented on #358
Any progress on this?

[2017-07-26 15:12] oliverklee commented on #358
@Renkas I'm currently waiting for a reply by @Gabe-SpotMe.

@Renkas Would you be willing to take over?

[2017-08-14 17:23] mcblum opened #397 "Invalid expression in selector >> <<"
Hello! Sorry if this is a dumb question, but I'm having an issue where if I use more than one css style I get the error:

[code]

If I do `$css = 'h1 {font-size: 48px; font-weight: 400; margin: 0;}'` is works just fine but if I do `$css = 'h1 {font-size: 48px; font-weight: 400; margin: 0;}, h2 {font-size: 24px; font-weight: 400; margin: 0;}, p {margin: 0;}'` it fails. Any idea what I'm doing wrong

[2017-08-14 17:26] mcblum commented on #397
I am the dumb. I have fired myself.

[2017-08-14 17:34] mcblum commented on #397
Whelp, never mind. I did figure out that I was using commas in the CSS, but even after fixing that when I went back to trying to inline the actual rendered view I'm now getting:

[code]

Any ideas what I may be doing wrong? The html that's being inlined is a rendered Laravel view and without inlining it works as expected.

[2017-08-24 10:50] oliverklee commented on #397
Hi @mcblum, could you please some minimal HTML and CSS to reproduce the issue?

And which version of Emogrifier are you using?

Thanks!

[2017-09-14 08:09] Glavic commented on #397
Why do you have commas between rules?
Remove them:

`$css = 'h1 {font-size: 48px; font-weight: 400; margin: 0;} h2 {font-size: 24px; font-weight: 400; margin: 0;} p {margin: 0;}'`

[2017-09-25 15:11] aarongerig commented on #379
As I am experiencing the same faulty behavior, below's the requested data.

## Input:
[code]

[code]

## Output:
[code]

As a result of removing the uppercase Margin property, the content doesn't get centered properly in Microsoft Outlook (see screenshot below).

![container-not-centered](https://user-images.githubusercontent.com/17384333/30815819-90be0d40-a214-11e7-93b2-79ccdfe006d5.png)

[2017-09-25 15:34] oliverklee commented on #379
@aarongerig Thanks for the additional information!

[2017-09-25 22:20] oliverklee opened #403 "Make the tests easier to read and understand"

[2017-10-01 17:59] seltix5 commented on #391
hi,
I found this problem too, the inline styles should not be replaced with the ones added from the classes (this is how browsers behave).
In my case this is important too because the basic styles area loaded from a CSS file and the custom styles are printed directly in the HTML.
The styles imported from the classes should be added BEFORE the already inline styles, or at least Emogrifier should ha

[2017-10-03 22:22] oliverklee commented on #391
@seltix5, #404 will fix this.

[2017-10-20 15:20] oliverklee commented on #358
Fixed by #396.

[2017-10-20 15:20] #358 closed

[2017-10-23 11:44] oliverklee opened #421 "Release version 2.0.0"
I'd like to make the next release version 2.0.0 instead of 1.3.0 as the merged changes (and the pending PRs) could be considered to be breaking.

I'll then also drop compatibility with PHP 5.4 (as announced in the changelog):

@jjriv What do you think about this? Would you be okay with this?

[2017-10-23 15:26] jjriv commented on #421
I think this is great. Please go ahead and do it. Also, let me know once it's done and i'll promote it on our blog and social media. And if there are any noteworthy changes to mention, tell me and I'll include those in the announcement as well.

[2017-10-23 23:01] #242 closed

[2017-10-26 07:50] reimax opened #424 "Cyrillic characters get mangled"
Hi, my code:

`
require_once 'emogrifier/vendor/autoload.php';
$emogrifier = new \Pelago\Emogrifier();

$emogrifier->setHtml($message_text);
$message_text = $emogrifier->emogrify();
`
as a result, I enclose a document with an incorrect encoding:
�������

if delete $message_text = $emogrifier->emogrify();, document charset correct. there is cyrillic in the document. project in utf-8 charset, mb_int

[2017-10-26 10:02] oliverklee commented on #424
Hi @reimax, thanks for the bug report! Could you please upload the source HTML and the resulting HTML somewhere and post the links?

And if you have time, could you please reduce the HTML as much as possible so that the bug still occurs (and the HTML still is valid), and the document is as small as possible? This will help narrow down the problem. Thanks!

[2017-10-26 14:34] reimax commented on #424
Here is a small example of a letter that I download from the mail via imap.

after use emogrifier

`
<div id="divtagdefaultwrapper" style="font-size: 12pt; color: #000000; font-family: Arial,Helvetica,sans-serif;" dir="ltr"><p>Здравствуйте Алена,</p><p><br></p><p>Если заключаем договор то�оплата на р/с.</p><p>Другие способы: перевод на webmoney.</p></div>
`
before use emogrifier

`
<div id="divtag

[2017-10-26 14:36] oliverklee commented on #424
Hi @reimax Thanks! Could you please upload both files somewhere so the exact encoding and the HTML tags are preserved? Thanks!

[2017-10-26 14:36] reimax commented on #424
done! create link

[2017-10-26 19:47] reimax commented on #424
i add meta tag with charset=utf-8 in my html code and roblem was solved

[2017-10-26 21:00] oliverklee commented on #424
Thanks for the feedback. I'm glad to read this.

So can we close this issue, or do you still a problem in Emogrifier that should be fixed?

[2017-10-27 20:54] #424 closed

[2017-10-27 20:54] reimax commented on #424
Thanks  for help!

[2017-11-10 12:56] Khaleel commented on #352
Was this fixed?

[2017-11-10 12:56] Khaleel commented on #350
Was this fixed?

[2017-11-10 13:08] oliverklee commented on #352
No, this is not fixed yet.

[2017-11-10 13:08] oliverklee commented on #350
No, this is not fixed yet. Only the error should now be silently ignored in non-debug mode.

[2017-11-16 10:22] maoxiong commented on #421
Even though 5.4 compatibility will be dropped, will it still work unofficially?

Some of the externally purchased codebase I use is ioncube encoded and doesn't work with anything higher than 5.4!!

[2017-11-16 11:02] oliverklee commented on #421
Yes, it will probably work, but Composer will not install the package on PHP 5.4. You'll then need to manually copy the class file.

[2017-11-20 17:04] #356 closed

[2017-11-20 17:05] oliverklee commented on #390
Fixed by #431.

[2017-11-20 17:05] #390 closed

[2017-11-20 17:05] oliverklee commented on #356
Fixed by #431.

[2017-11-24 23:29] roman-1983 commented on #280
+1

[2017-11-26 11:05] oliverklee opened #438 "Update PHPUnit and use expectException in the tests"

[2017-11-26 13:14] zoliszabo commented on #438
Hi @oliverklee!

There is the issue that PHPUnit's `expectException()` is available since version 5.2 of PHPUnit (https://github.com/sebastianbergmann/phpunit/blob/5.2.12/src/Framework/TestCase.php#L505), which requires PHP 5.6+ (https://github.com/sebastianbergmann/phpunit/blob/5.2.12/composer.json#L24). But emogrifier supports also PHP 5.5, so we cannot make the upgrade of PHPUnit to 5.2.

Alter

[2017-11-26 13:29] oliverklee commented on #438
Oh, I hadn't thought of that. Then let's stay with `@expectedException` until Emogrifier requires PHP 5.6.

[2017-12-15 11:58] nikmauro opened #439 "Fatal error: Uncaught RuntimeException: DOMXPath::query():"
Fatal error: Uncaught RuntimeException: DOMXPath::query(): Invalid expression in /var/www/vhosts/.com/httpdocs/vendor/pelago/emogrifier/Classes/Emogrifier.php on line 1108 in /var/www/vhosts/.com/httpdocs/vendor/pelago/emogrifier/Classes/Emogrifier.php:1785 Stack trace: #0 [internal function]: Pelago\Emogrifier->handleXpathQueryWarnings(2, 'DOMXPath::query...', '/var/www/vhosts...', 1108, Array) #

[2017-12-16 09:27] oliverklee commented on #439
Hi @nikmauro, thanks for the bug report!

Both problems (the missing support for the attribute selector with ^ and the exception for unrecognized CSS in non-debug mode) should be already fixed in the current master. Could you please test whether the problem still occurs if you are using the current version from GitHub? Thanks!

[2017-12-16 09:38] zoliszabo commented on #439
As far as I can see in the stack trace, @nikmauro is already using the most current version.

I will also check later what the problem may be.

[2017-12-16 09:54] oliverklee commented on #439
@zoliszabo Thanks!

[2017-12-18 12:55] nikmauro commented on #439
Here my version from composer     "pelago/emogrifier": "dev-master / 1.3.x-dev" and the debug mode is private $debug = false;

[2017-12-26 09:09] oliverklee opened #440 "Rework the documentation"
After reading this blog article, I think we should rework our documentation: https://www.divio.com/en/blog/documentation/

[2017-12-26 17:00] jjriv commented on #440
Oliver,

I'm always a fan of improving things when possible. If you'd like to rework the documentation, go for it. I can serve as editor if you need it reviewed.

John

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.com<http://www.myinter

[2017-12-27 17:08] zoliszabo opened #441 "Invalid / unrecognized CSS selectors in media query blocks are not handled"
Invalid / unrecognized (not implemented) CSS selectors from within media query blocks are not handled and they are wrongfully causing a `\RuntimeException`.

[2017-12-27 17:51] oliverklee commented on #441
This indeed should only throw an exception in debug mode, and be silently ignored in non-debug mode.

I see there's already a branch for this. Looking forward to reviewing the PR! :heart:

[2017-12-27 18:57] zoliszabo opened #443 "CSS selector to XPath: Descendant combinator not converted when descendant is an attribute selector"
In the case of `A B[attr...]` CSS selectors (element B is descendant of element A and element B also has some attribute constraint specified), the resulting XPath is not correct.

For example:
Original CSS selector: `p a[href^=tel]`
The (wrong) current result of `translateCssToXpath`:  `//p a[starts-with(@href, "tel")]`
Correct XPath would be: `//p//a[starts-with(@href, "tel")]`

The source of thi

[2017-12-27 19:13] zoliszabo commented on #439
@nikmauro : While I can't reproduce the exception with the CSS you have provided (I am quite sure that the CSS that caused the exception was slightly different), you did point out some problems. After some deep investigation I split them into two distinct issues:
#441 (for which I already did a PR: #442)
#443

[2017-12-28 17:42] oliverklee opened #449 "Update the selector regexp to match the spec"
https://www.w3.org/TR/css3-selectors/#attribute-selectors

[2017-12-28 18:53] oliverklee opened #450 "Add Zoli Szabó as maintainer"
Hi @zoliszabo, you have provided quite a lot of very-high quality PRs for Emogrifier.

Would you like to become a co-maintainer of this project?

This would mean that you could review and merge PRs. And we'd also add you as an `@author` to the files, mention you as a maintainer in the README, and add you as a developer to the `composer.json`. And if that's okay for you, we'd also proudly announce

[2017-12-28 18:54] oliverklee commented on #450
cc: @jjriv

[2017-12-29 17:05] zoliszabo commented on #450
Hi @oliverklee! I am honored to receive such a role on the project - I will of course accept it. It means so much for me, because Emogrifier is the project that made me really want to contribute to open source. Contributing is the only way I can give back a little for the large amount of work you guys did.
Thank you!

PS: my email address is zoli.szabo+github@gmail.com.

[2017-12-29 17:22] oliverklee commented on #450
Great! :heart:

[2017-12-29 17:26] oliverklee commented on #450
And reading that Emogrifier that motivated you to contribute to open source makes me happy!

What is your Twitter handle (so that we can mention you)?

[2017-12-29 20:44] zoliszabo commented on #450
@SzZoli

[2017-12-29 22:41] jjriv commented on #450
Welcome to the team @zoliszabo and thank you for your contributions. Let me know if you guys need me to do anything to finalize this request.

[2017-12-29 23:01] oliverklee commented on #450
I've just posted a tweet: https://twitter.com/oliklee/status/946878804357771264

[2017-12-29 23:01] #450 closed

[2017-12-30 00:04] oliverklee commented on #450
@zoliszabo As I'm not very familiar with Romanian names, I'll ask: "Zoli" is your first name?

[2017-12-30 11:06] zoliszabo commented on #450
@jjriv Thank you for welcoming me to the team! I'm glad to become part of it.

@oliverklee Actually, I am a Hungarian born in the heart of Romania. And yes, "Zoli" is my first name (nickname for "Zoltán"). :)

[2017-12-31 11:41] oliverklee opened #456 "Align xPathRules to the README"
We should use the same order and same comments as in the README and the tests.

[2017-12-31 12:48] oliverklee opened #457 "Fix the $ attribute matcher so it can be in the correct place"
Currently, the $ matcher cannot be above the adjacent matcher, i.e., one of the matchers matches too much.

[2018-01-04 12:18] oliverklee commented on #456
Fixed by 3d81f01e478572f9bcca14d1895e25ac120964f5.

[2018-01-04 12:18] #456 closed

[2018-01-04 18:29] oliverklee opened #462 "Move the GitHub oAuth token from .travis.yml to the repository settings"
According to https://docs.travis-ci.com/user/environment-variables/#Defining-Variables-in-Repository-Settings, secret environment variables that are the same across all branches and builds should be set in the repository settings, not in the `.travis.yml`.

@jjriv As it's your oAuth token, would you be willing to take care of this?

[2018-01-04 18:59] jjriv commented on #462
I'm happy to help, but not sure what to do. Could you tell me the steps and I'll take care of it?

[2018-01-04 22:43] oliverklee commented on #462
1. look up the unencrypted value for the `GITHUB_COMPOSER_AUTH` environment variable
2. go to https://travis-ci.org/MyIntervals/emogrifier/settings
3. add a `GITHUB_COMPOSER_AUTH` environment variable with the value you've looked up (and make sure to keep "Display value in build log" turned off)
4. Create a PR to remove the env>global>secure variable from `.travis.yml`
5. Check if the build still

[2018-01-05 20:15] oliverklee commented on #462
Fixed in f18225faee69fb40875317758f2263eb60d8176f. Thanks, @jjriv!

[2018-01-05 20:15] #462 closed

[2018-01-05 20:20] jjriv commented on #462
You are welcome. Feel free to clean up anything if I didn't name it so well.

____________________________________________________________________

John Reeve
jreeve@pelagodesign.com<mailto:jreeve@pelagodesign.com>
Intervals | Web-based Time, Task & Project Management | www.myintervals.com<http://www.myintervals.com>
____________________________________________________________________

From: Olive

[2018-01-05 23:26] #394 closed

[2018-01-05 23:30] #421 closed

[2018-01-07 11:22] oliverklee commented on #439
Closing, as this now is handled in the two other issues.

[2018-01-07 11:22] #439 closed

[2018-01-07 11:22] oliverklee commented on #439
@nikmauro Please feel free to add tickets for any other problems you encounter.

[2018-01-07 11:24] oliverklee commented on #397
Closing as the CSS is invalid.

[2018-01-07 11:24] #397 closed

[2018-01-07 11:25] oliverklee opened #469 "Support :not(.class)"
Split out fro #384.

[2018-01-07 11:26] oliverklee commented on #384
@joeworkman I've entered #469 for adding support for `:not(.class)`.

[2018-01-07 11:28] oliverklee commented on #380
Removing the CSS classes from HTML will break any media queries that rely on these classes. So I propose we always keep the classes.

@jjriv, @zoliszabo, @xenDE Thoughts?

[2018-01-07 11:30] oliverklee commented on #378
This was fixed in #420.

[2018-01-07 11:30] #378 closed

[2018-01-07 11:33] oliverklee commented on #350
Closing this ticket as it mixed too many different issues. Please feel free to create new tickets for problem with specific HTML/Css.

[2018-01-07 11:33] #350 closed

[2018-01-07 11:35] oliverklee commented on #317
This already should have been solved with the debug mode. @robertotremonti If this is still a problem with Emogrifier 2.0.0, please feel free to reopen this ticket.

[2018-01-07 11:35] #317 closed

[2018-01-07 11:36] oliverklee commented on #301
This was fixed in #301.

[2018-01-07 11:36] #301 closed

[2018-01-07 11:40] oliverklee commented on #252
@jjriv, @zoliszabo I'd like to completely remove the removal of invisible nodes. Minifying the HTML should not be the job of Emogrifier, but the job of the person/component creating the input HTML in the first place, and removing those nodes is tricky. Thoughts?

[2018-01-07 13:57] oliverklee commented on #352
This particular matcher works on the style attribute. The style attribute is a moving target during the Emogrifier processing, and any matchers against it will be highly unreliable. I propose to document that Emogrifier does not officially support matchers against style nodes, and that those should not be used.

@jjriv @zoliszabo Thoughts on this?

[2018-01-07 15:03] zoliszabo commented on #380
IMHO, if to be implemented, only as an option/switch (which would default to `FALSE`, to keep backwards compatibility) would be reasonable. Automatic removal - without the option to disable it - may break some use-cases. For example when media query blocks are added to the final email HTML _after_ emogrification.

[2018-01-07 15:28] oliverklee commented on #380
I was more thinking along the lines of "removing the automatic removal option", i.e., to always keep existing class attributes.

[2018-01-07 15:35] zoliszabo commented on #252
Since the feature is already implemented, instead of removing it, wouldn't it be better to only change the default behavior to not remove invisible nodes by default?

Secondly, the current option flag name is not OK: it does exactly the opposite to how it is called. https://github.com/MyIntervals/emogrifier/blob/73219f1830190677b9773eef0f019c7e3f964335/Classes/Emogrifier.php#L408-L410 (PR https://

[2018-01-07 15:55] zoliszabo commented on #352
You are perfectly right with this expression being highly unreliable in Emogrifier's case. The only use-case I can imagine for such expressions is in media query blocks in order to implement responsiveness.

On the other hand, wouldn't this be resolved with https://github.com/MyIntervals/emogrifier/issues/449? This would ensure that such expressions are recognized (in media query blocks). Document

[2018-01-07 16:23] zoliszabo commented on #380
@oliverklee, of course. I just cannot make up my mind whether implementing this feature or not would better suit Emogrifier.

Implementing the feature with a `FALSE` default would have the benefit of optionally offering smaller final HTML size, with the drawback of making the Emogrifier class bigger/fatter. (I am not sure what is the general philosophy about adding more and more more-or-less tange

[2018-01-07 16:30] oliverklee commented on #380
I'd like Emogrifier to be (or become) a tool that does one thing, and does it well, with good, opiniated default behavior. I'd like to have only those options where there are really big benefits for having different behaviors. Having as few options as possible will make usage simpler, and it will keep the code simple and the different test cases few.

[2018-01-07 16:31] oliverklee commented on #380
Minimizing the HTML should go into a separate tool (or at least a separate class).

[2018-01-07 16:40] oliverklee commented on #252
I find it very important that we have the courage to remove code or features once it does not provide enough benefit anymore or creates problems which are not easily solvable. Every line of code is a line we need to maintain and test.

If I read @sanderkruger's comment correctly, the removal of invisible nodes creates problems as the nodes might not stay hidden or might be needed for other purpose

[2018-01-08 13:49] zoliszabo commented on #441
Fixed with PR https://github.com/MyIntervals/emogrifier/pull/442.

[2018-01-08 13:49] #441 closed

[2018-01-08 19:11] jjriv commented on #380
I agree that Emogrifier should be a tool that does one thing. It's definitely better to have fewer options for usability, but that means saying no to some features that may seem desirable by a vocal minority. That said, I agree, let's keep the minimizing of the HTML out of this.

One argument in favor of this is that other libraries may handle minimization better,. And when those libraries are upd

[2018-01-08 19:16] jjriv commented on #252
I agree with deprecating this feature. Emogrifier has one purpose, and that is not to minimize or alter the payload.

[2018-01-08 19:37] jjriv commented on #352
I don't understand the issue well enough to offer my thoughts on this one. If you'd like, I can have one of our engineers here weigh in. But, what @zoliszabo says sounds good to me. I'm going to defer judgement to both of you on this one.

[2018-01-08 22:12] oliverklee opened #478 "Test with popular CSS frameworks"
We should have automated tests that Emogrifier understands the CSS selectors in popular CSS frameworks. According to https://hackernoon.com/top-5-most-popular-css-frameworks-that-you-should-pay-attention-to-in-2017-344a8b67fba1, https://three29.com/best-css-frameworks-2017/ and https://www.sitepoint.com/5-most-popular-frontend-frameworks-compared/, these are:

- Twitter Bootstrap (3x)
- Zurb Found

[2018-01-09 12:03] oliverklee opened #479 "Versions 3.0.0/4.0.0, refactoring, new classes"
Hi @jjriv and @zoliszabo, this is what I have in mind for Emogrifier 2.1.0, 3.0.0 and 4.0.0. Looking forward to your thoughts on this!

# Complexity and features

Generally, I'd like to get the Emogrifier class (back) to do exactly one thing, and do it well. This "one thing" is converting CSS files and `style` elements to inline CSS attributes. Other things should go into separate classes or packa

[2018-01-09 19:31] jjriv commented on #479
@oliverklee I don't have any improvements I would suggest. This proposal makes sense to me. I think it's a huge improvement for Emogrifier. Thanks for heading it up!

[2018-01-10 09:07] oliverklee commented on #380
So we'll handling this with a new class. Keeping this ticket open for this.

[2018-01-10 09:11] oliverklee commented on #252
So we'll deprecate this feature and move it to a separate class.

[2018-01-10 09:13] oliverklee commented on #352
@zoliszabo There are two things at play here: One is that Emogrifier currently cannot build the correct Xpath from this selector (which would be resolved by #449), and the other is that even with the correct Xpath, the Xpath might not match the at-that-moment state of the HTML as the attributes change while Emogrifier does its work.

Closing this ticket for now.

[2018-01-10 09:13] #352 closed

[2018-01-10 19:49] zoliszabo commented on #352
@oliverklee While inlining styles, the result of these kind of selectors is indeed unpredictable and we can/should document this. On the other side, when Emogrifier is parsing media query block selectors (in order to find out which ones to keep), the inline styles are already final and don't change anymore, so they could be matched. And this will work out-of-the-box after handling #449.

Of course

[2018-01-10 20:03] zoliszabo opened #480 "Combine expanded CSS properties to shorthand properties (where possible)"
Emogrifier may produce inline styles that are redundant.

For example:
[code]
After the above is emogrified, it would look like this:
[code]

But it could be simplified like this:
[code]

[2018-01-10 20:13] oliverklee commented on #480
I propose we do this in Emogrifier 4.0.0 by using some library that can shorten CSS. (I don't know whether there is such a library on Packagist, but I'm fairly confident.)

What do you think?

[2018-01-10 20:35] zoliszabo commented on #479
@oliverklee I also think this proposal is as good as it gets. Eventual imperfections - if any - will come up during the implementation, but it is perfect for setting the goal.

I personally like the method chaining, it would be a nice touch to be able to set options on the new classes this way.

Since we are preparing a collection of classes, one more thing I thought of (but it may be out of scope

[2018-01-10 20:36] zoliszabo commented on #480
It sounds reasonable to me, there's no hurry with this one.

[2018-01-10 20:47] oliverklee commented on #479
I like the idea with the sub-namespace and the new class name `CssInliner`. We then should deprecate the old class and add an alias to so that code using the old class will still work. @jjriv What are your thought on this?

[2018-01-10 20:48] oliverklee commented on #479
Now that we agree on the roadmap, some reviews of #473 and #474 would be great!

[2018-01-10 21:02] jjriv commented on #479
I like that idea of making Emogrifier the name of the collection. You could also take out the "Pelago" if you wanted to simplify things. That way it would just be `\Emogrifier\CssInliner`

[2018-01-11 09:57] zoliszabo commented on #479
👍

AFAIK the de facto standard is to use namespaces in the form of `\VendorName\PackageName\...`, so I would vote for keeping `Pelago` as vendor. Or deprecate it in favor of `MyIntervals`?

[2018-01-11 09:58] zoliszabo commented on #479
Also, what about restructuring the folders a bit to comply with https://github.com/php-pds/skeleton/blob/1.0.0/README.md?

[2018-01-11 12:07] oliverklee commented on #479
I agree - that's also what I know about the Composer naming schema.

@jjriv Which vendor namespace should we use? Keep Pelago or switch to MyIntervals?

[2018-01-11 12:09] oliverklee commented on #479
Thanks! Sounds good at a first glance. I'll read up on it and then hopefully will have an informed opinion on this.

[2018-01-11 16:38] jjriv commented on #479
I did not realize there was a standard. Let's keep it as Pelago. That is the name of the company and it's what we've always used.

[2018-01-12 12:58] oliverklee opened #481 "Rename and move the Emogrifier class"
to `Pelago\Emogrifier\CssInliner`

[2018-01-12 12:58] oliverklee opened #482 "Drop disableInvisibleNodeRemoval"

[2018-01-12 12:59] oliverklee opened #483 "Drop enableCssToHtmlMapping"

[2018-01-12 13:00] oliverklee opened #484 "Use the HtmlNormalizer for normalizing the HTML in Emogrifier/CssInliner"
This will be solved with #554.

[2018-01-13 19:58] #228 closed

[2018-01-15 13:48] oliverklee opened #489 "Change the directory structure to match the PHP PDS"
http://php-pds.com/
https://github.com/php-pds/skeleton_research

Let's do this one (top-level) directory per PR at a time.

[2018-01-15 13:50] oliverklee commented on #479
I've read up on the PHP PDS. Let's do this. I've created ticket #489 for this.

Closing this ticket here as we have come to an agreement on all points, if I see this correctly.

[2018-01-15 13:50] #479 closed

[2018-01-15 13:53] oliverklee opened #490 "Create an Emogrifier twitter bot"
As a small learning project, I'd like to create a twitter bot that retweets all tweets with "Emogrifier" in them. I plan to follow the instructions from https://dev.to/omarhashimoto/how-to-build-a-simple-twitter-bot-in-17-lines-ofcode-2aan for this.

@jjriv Would that be okay with you?

And what should we name the bot? What about "Emogrifier bot"/`@emogrify_bot`?

[2018-01-16 19:05] jjriv commented on #490
Yes, that is OK with me. I went ahead and claimed @emogrifier. I'll email you the password seperately.

[2018-01-17 12:52] oliverklee commented on #490
Thanks!

[2018-01-21 15:07] #489 closed

[2018-02-02 12:50] mmenozzi commented on #370
Hi @oliverklee,
What's the status of this issue?
Magento has upgraded to version 1.2.0 of this library and the issue seems gone (https://github.com/magento/magento2/commit/ae0af893a3e39a4a98c12136dddad92de3eef93b) but the issue here is still open. Moreover you added this issue to the 1.3.0 milestone but the version 2.0.0 is already out. So what's the status? Is now minified CSS handled correctly?

[2018-02-02 13:12] oliverklee commented on #370
Hi @mmenozzi, according to @chedaroo, there still is a problem. However, we currently don't have a test case that is failing. @mmenozzi If you can create a failing test case (or verify that the problem is gone), that would be very helpful so we can either close this issue or know which exact cases to fix. Thanks!

(Generally, "minified CSS" is not something that either works or that doesn't in Emo

[2018-02-02 15:38] oliverklee commented on #370
Okay, closing this for now. @mmenozzi, @chedaroo, @coughsyrupgit, please feel free to open a new ticket with a particular line of CSS that does not parse yet. Thanks!

[2018-02-02 15:38] #370 closed

[2018-02-05 07:49] mmenozzi commented on #370
Hi @oliverklee,
thank you for your update.
I think that the particular problem with Magento's minification was fixed with this PR https://github.com/MyIntervals/emogrifier/pull/322.
So it's ok for me closing this issue and opening a new ticket when a particular CSS doesn't parse correctly.

[2018-02-08 10:04] oliverklee commented on #381
Fixed by 2c2b7853e35c8d03b301661bbe3732d7569d5ba2.

[2018-02-10 02:01] JakeQZ commented on #380
When #280 is implemented, this becomes much simpler, as it would then be known which rules have been applied inline, and only the classes used in selectors in the added style element need to be retained - these can be determined by a simple regex.

[2018-02-10 02:29] JakeQZ commented on #280
I'll be proposing a PR for this next week, so if anyone has had any more thoughts, or tried any code changes, let us know here.

[2018-02-10 10:40] oliverklee commented on #280
Sounds good to me. I say: Go for it! @jjriv, @zoliszabo: More thoughts?

[2018-02-10 11:58] zoliszabo commented on #280
Sounds good to me too!
By the way: Nice PRs @JakeQZ!

[2018-02-12 16:45] jjriv commented on #280
I'm with @zoliszabo and @oliverklee

[2018-02-13 19:49] JakeQZ commented on #280
Proposed solution...

Currently we have in `process()`:

[code]

Here `$cssRules` does not currently contain rules from media queries or with selectors involving pseudo -classes or -elements whose rules cannot be inlined.

I suggest changing this so that `$cssRules` contains all rules, with each entry having additional keys:
- "media" - Media query string if rule is from within a media query block

[2018-02-14 00:54] JakeQZ opened #508 "Incorrect style property order with multiple mixed individual and shorthand properties"
The following CSS
[code]
when applied to the HTML
[code]
results in
[code]
The `margin-top: 0` should either be before `margin: 2em` or (as an optimization in this case) not present at all.

[2018-02-14 01:07] JakeQZ commented on #508
The issue arises from the behaviour of `array_merge` in `generateStyleStringFromDeclarationsArrays`.  When a property is present in both `$oldStyles` and `$newStyles`, its position in the resultant array comes from its position in `$oldStyles`, though there may be a later shorthand or individual property variant it should now be overriding.

To resolve this and maintain correct ordering, I propose

[2018-02-14 01:51] JakeQZ opened #509 "Hotmail/Live drops margin properties with any negative component"
Consider the following CSS:
[code]
The author has intended a vertical margin above/below tables, and a negative horizontal margin to compensate for the border spacing being applied to the outside edge of the table as well as between table cells.

However, when viewed in the Hotmail/Live webmail client, the margin property, even in an inline style attribute, is discarded due to the presence of nega

[2018-02-14 02:26] JakeQZ commented on #509
It's been suggested that such non-core functionality should go into a HtmlProcessor class (#479), yet to be implemented.  This functionality would require access to the DOM and XPath and ideally also `parseCssDeclarationsBlock` and `generateStyleStringFromSingleDeclarationsArray` for manipulating the style attributes...

[2018-02-14 10:33] oliverklee commented on #509
This looks like either a bug in Hotmail (and should be reported there), or a bug in the input CSS (i.e., the author needs to fix their CSS to be look fine in Hotmail before they put it in Emogrifier). I don't see this as a (possible) responsibility of the Emogrifier package.

[2018-02-14 10:33] #509 closed

[2018-02-14 12:04] oliverklee commented on #508
@JakeQZ Sounds good. Would you be willing to tackle this bug?

[2018-02-14 12:17] JakeQZ commented on #508
@oliverklee Yes, I have already confirmed the proposed fix works...

[2018-02-14 21:00] oliverklee commented on #508
@JakeQZ #511 fixed this completely, so we can close this ticket, right?

[2018-02-14 21:48] JakeQZ commented on #508
Yes, am closing.  I'll create a separate issue for the optimization.

[2018-02-14 21:48] #508 closed

[2018-02-14 21:57] JakeQZ opened #512 "Individual style properties overridden by shorthand properties could be eliminated"
Example in #508.  When the resultant inline style is something like `margin-top: 0; margin: 1em;`, the individual property `margin-top: 0` is completely overridden by the shorthand `margin: 1em` and could be eliminated.

[2018-02-14 22:05] JakeQZ commented on #512
First question: is this something that would be considered 'core' functionality, or something that should go into a HtmlProcessor class (presumably `HtmlMinifier`) as outlined in #479?

Data for CSS shorthand properties available at https://github.com/gilmoreorless/css-shorthand-properties/blob/master/index.js could easily be converted to PHP.

[2018-02-14 22:16] oliverklee commented on #512
Let's put it in a separate class. I propose the class name `CssMinifier` and the method name `collapseShorthandProperties`.

[2018-02-15 01:42] JakeQZ commented on #512
Ok.

I think some common functionality would need to be shared between `Emogrifier` and `CssMinifier`, notably `parseCssDeclarationsBlock`, `attributeValueIsImportant` and `generateStyleStringFromSingleDeclarationsArray`.  Whilst these are fairly stand-alone, they do use two caches which would need to be object properties.  Could the code reuse be achieved via a PHP trait (perhaps named `CssDeclar

[2018-02-15 11:06] oliverklee commented on #512
Sorry, I was not clear enough about the Composer dependency. I'll do my best to clear that up now. :-)

The Emogrifier class itself should not use any Composer autoloading before Emogrifier 4.0.0 (so that the Emogrifier class could be dropped in any non-Composer project up to version 3.x.y). The other classes can use Composer autoloading. So we could (temporarily) duplicate code into the other cla

[2018-02-15 13:32] JakeQZ commented on #512
Presumably then `AbstractHtmlProcessor` would have a private no-argument constructor and private methods `initializeFromHtml` and `initializeFromDomDocument` which would be called by the public `fromHtml` and `fromDomDocument`.

In terms of retro-fitting the pattern of methods `render` and `getDomDocument` to `Emogrifier`, there would need to be a new method which would currently call `createAndPr

[2018-02-15 13:57] oliverklee commented on #512
Exactly.

[2018-02-15 14:01] oliverklee commented on #512
https://github.com/MyIntervals/emogrifier/issues/479#issuecomment-356728254

We're planning to change the `Emogrifier` class to a `CssInliner` class. If we're changing the class anyway, we can also change the interface (and also inherit from `AbstractHtmlProcessor`).

As a first step, we could add a new  `CssInliner` class that uses the new interface and redirects most of its work to the old Emogr

[2018-02-15 14:08] oliverklee commented on #512
After thinking about it a bit more, I think we should
1. copy the code to the new class
2. change the interface to be the same as the AbstractHtmlProcessor
3. inherit from AbstractHtmlProcessor
4. for Emogrifier 3.0.0, deprecate the old Emogrifier class
5. for Emogrifier 4.0.0, remove the old Emogrifier class

[2018-02-15 14:27] JakeQZ commented on #512
Yes, that would make sense.  It would also mean reusable code can be refactored in the new `CssInliner` class for sharing with `HtmlMinifier` etc. without waiting until 4.0.0.  I guess that until 2.1.0, enhancements/fixes would be applied to both `CssInliner` and `Emogrifier`, but after that there would be no need to maintain the old class.

[2018-02-15 15:03] oliverklee commented on #512
Up to including version 3.0.0 (i.e., the last version before 4.0.0).

[2018-02-16 11:15] oliverklee commented on #512
Now that I've thought about it a bit more, we could mark the Emogrifier class as deprecated in version 3.0.0, and recommend using the new class. Then we could leave the Emogrifier class unchanged after 2.1.0 (except for removing the deprecated methods).

[2018-02-16 11:18] oliverklee commented on #280
@JakeQZ Sounds good! I'd say: Go for it!

As for the two approaches: I'm for taking the one that is simpler or provides better performance.

And please let's have small, incremental PRs.

[2018-02-17 08:27] zoliszabo commented on #512
I am sorry I am bit late to the party.

What about making the old Emogrifier class a simple adapter for CssInliner and we bundle everything into a single big source file via some automated tool? Then each time we make changes to our new classes, we just regenerate the legacy Emogrifier class (bundle file)?
This would help us not to duplicate code manually and we could (easily) support legacy class

[2018-02-17 10:50] oliverklee opened #516 "Discussion: CssInliner & Emogrifier architecture"
This ticket is a continuation of #479.

Copied from https://github.com/MyIntervals/emogrifier/issues/512#issuecomment-366426216:

This would help us not to duplicate code manually and we could (easily) support legacy class Emogrifier up until version 4.

[2018-02-17 10:50] oliverklee commented on #512
Please let's move this discussion to #516.

[2018-02-17 10:53] oliverklee commented on #516
I totally forgot that if we deprecate the Emogrifier class in 3.0.0 (and remove it in 4.0.0), we don't need to maintain it anymore after 3.0.0.

So I propose we deprecate the class right after the 2.1.0 release, and until then automatically or manually port changes from the CssInline class to the Emogrifier class.

As we'll change the CssInline class (remove deprecated methods, change it to be a `

[2018-02-22 21:35] zoliszabo opened #529 "Normalizing test namespaces (and folder structure)?"
Currently we have a couple of different namespace structures:

1. In `emogrifier/tests/Unit/EmogrifierTest.php`:
-> `namespace Pelago\Tests\Unit;`
2. In `emogrifier/tests/Unit/CssInlinerTest.php`:
-> `namespace Pelago\Emogrifer\Tests\Unit;`
3. In `emogrifier/tests/Unit/Emogrifier/HtmlProcessor/AbstractHtmlProcessorTest.php`:
-> `namespace Pelago\Tests\Unit\Emogrifier\HtmlProcessor;`
In ` emogrifie

[2018-02-22 21:41] oliverklee commented on #529
The `Emogrifier` class is outside the namespace we'd like to have after all cleanup is done (which is `Pelago\Emogrifier`.

Usually, the test namespace structure should match that of the tested production classes. In this cases, I'm for making an exception and put the `Emogrifier` test into `Pelago\Emogrifier\Tests\Unit` (so it technically has an extra `Emogrifier` in the namespace) so at least th

[2018-03-08 09:29] Reflet54 opened #535 "Table with parameters align="left" or align="right" converted to align="center""
My table like that :
`<table width="45%" cellspacing="0" cellpadding="0" border="0" align="left">`

are converted to :

`<table width="45%" cellspacing="0" cellpadding="0" border="0" align="center">`

I use this to set the css and html :
[code]
version": "V1.2.0

[2018-03-08 09:39] zoliszabo commented on #535
Hi @Reflet54,

Can you also provide the `$css` you are using, please?

Also, is it possible for you to use the latest version of Emogrifier (https://github.com/MyIntervals/emogrifier/releases/tag/v2.0.0)? Some attributes related bugs were corrected since version 1.2.0.

Thanks!

[2018-03-23 12:08] oliverklee opened #537 "Check the code with psalm"
https://github.com/vimeo/psalm

[2018-04-02 13:53] oliverklee opened #544 "Refactor the CSS parsing"
We should move the CSS parsing either to a separate class or use an existing package for this, e.g. one of these:

- https://packagist.org/packages/sabberworm/php-css-parser
- https://packagist.org/packages/soloproyectos-php/css-parser

[2018-04-02 18:41] oliverklee commented on #544
@JakeQZ Do you have experience with CSS parsing libraries and can recommend one?

[2018-04-02 18:53] JakeQZ commented on #544
I've looked at a few PHP CSS minification tools (one of which I use), and they've all used their own regex parsing.  I'm not familiar with either of the above.

[2018-04-03 00:30] #381 closed

[2018-04-03 11:22] oliverklee commented on #529
Moving to 4.0 (as this is the milestone where we will remove the original Emogrifier class).

[2018-04-03 11:23] oliverklee commented on #516
Closing. I think that automatic code porting from one class to the other is not worth the effort (and will be temporary anyway).

[2018-04-03 11:23] #516 closed

[2018-04-03 11:25] oliverklee commented on #457
This will not be needed once #540 has been merged. Closing.

[2018-04-03 11:25] #457 closed

[2018-04-03 11:28] oliverklee opened #550 "Allow CSS selectors with semicolons"

[2018-04-03 11:31] oliverklee opened #551 "Add a HtmlMinifier or HtmlShrinker class (name pending)"
This class will have a method `removeInvisibleNodes`. Recommend to use this instead of the invisible node removal in Emogrifier.

Also remove the invisible node removal from the `CssInliner` class.

[2018-04-03 11:31] oliverklee opened #552 "HtmlProcesser::fromHtml"
And make the constructor protected or private.

[2018-04-03 11:32] oliverklee opened #553 "HtmlProcessor::fromDomDocument"

[2018-04-03 11:32] oliverklee commented on #553
This one should be done after #552.

[2018-04-03 11:32] oliverklee opened #554 "Make the CssInliner inherit AbstractHtmlProcessor"

[2018-04-03 15:26] oliverklee commented on #379
According to the spec, CSS property names are case-insensitive:
https://developer.mozilla.org/de/docs/Web/CSS/Syntax

So we should treat them as that, and not support any workarounds that rely on not following the specifications.

Closing as invalid.

@maoxiong If you find any other bugs, please keep reporting them! Thanks!

[2018-04-03 16:03] maoxiong commented on #379
In that case there's no need to change to lowercase in the processing.

If it just leaves input code as is, everyone is happy 😁

[2018-04-03 16:07] oliverklee commented on #379
@maoxiong Would you be willing to create a PR with a test case for this and with this change? Then we can see whether it breaks anything.

[2018-04-03 16:11] zoliszabo commented on #379
Hi all,

I actually have an 80% finished solution for this issue.

@maoxiong you can, of course, submit your solution if you want to.

[2018-04-04 16:06] #287 closed

[2018-04-04 17:26] electricBonfire opened #559 "Invalid Expression"
I am getting the following error:

Invalid expression in selector >> [option-label="White"]

I am using v1.2.0

[2018-04-04 17:28] oliverklee commented on #559
Hi @electricBonfire, thanks for the bug report. Which version of Emogrifier are you using?

And are you using Emogrifier in debug mode or non-debug mode?

And could you please post the minimal HTML and CSS required to reproduce the problem? Thanks!

[2018-04-04 17:29] electricBonfire commented on #559
I am using Magento2, I'm not sure how emogrifier is incorporated but I am in developer mode.

[2018-04-04 17:30] oliverklee commented on #559
Could you please test whether the problem is resolved if you update the Emogrifier dependency in `composer.json` to `"^2.0.0"` and then run `composer update pelago/emogrifier`?

[2018-04-04 17:35] electricBonfire commented on #559
That seemed to do the trick! The base Magento 2 deps had v0.1.1. I had bumped this up to 1.2.0.
Thanks for the quick reply, I haven't had much luck with responses to anything in the magento community

[2018-04-04 17:37] oliverklee commented on #559
@electricBonfire That's good to hear! Then I'm closing this ticket now. If you encounter any other bug in the latest Emogrifier version (2.0.0), please feel free to open another ticket.

[2018-04-04 17:37] #559 closed

[2018-04-04 18:43] oliverklee commented on #481
We already have the new class. Closing.

[2018-04-04 18:43] #481 closed

[2018-04-05 15:13] #110 closed

[2018-04-05 22:03] oliverklee opened #563 "Add sniff for type hinting"
https://stackoverflow.com/questions/43249975/phpcs-rule-for-type-hinting

[2018-04-05 23:27] bigweld86 opened #564 "Installation without Composer"
Hello. Is it possible to install without composer. If so, can you please share the steps? Thanks

[2018-04-05 23:29] oliverklee commented on #564
Yes, just download the files, e.g., using the green "Clone or Download" button at https://github.com/MyIntervals/emogrifier, and then `include` the file `src/Emogrifier.php` in your PHP code. That's it! :-)

[2018-04-05 23:29] #564 closed

[2018-04-06 14:54] #563 closed

[2018-04-06 15:42] #280 closed

[2018-04-08 22:36] JakeQZ opened #574 "Add additional PHPCS sniffs"
Following on from #563, there are currently 6 sniffs for PHPDoc from Squiz.Commenting.FunctionComment that are currently disabled, which require 'fixes' to the PHPDoc before they can be enabled.

Also noted there, [Slevomat Coding Standard](https://github.com/slevomat/coding-standard) provides further sniffs that may be desirable, notably [SlevomatCodingStandard.Arrays.TrailingArrayComma](https://

[2018-04-09 00:31] JakeQZ commented on #574
Also, possible additional sniffs suggested by recent PRs #572 and #573.

[2018-04-09 07:38] oliverklee commented on #574
Yes, please! (Except for the parameter alignment, which would create busywork on potentially every change to the parameters.) And we should look at the necessary changes for each additional sniff.

[2018-04-12 14:32] JakeQZ commented on #574
For the capital letter & full stop PHPDoc sniffs, we have a large number of @param and some @throws which don't have capitals or full stops (most of them it seems), so I would be inclined to continue to allow these for now rather than making a large number of changes (particularly as doing so may make maintaining Emogrifier and CssInliner in tandem more difficult).

What I'm specifically looking f

[2018-04-12 18:25] JakeQZ commented on #574
The only sniffs I could find for capitals and full stops in the PHPDoc short description don't distinguish between methods and properties, the latter for which we want to allow incomplete sentences.  (`Generic.Commenting.DocComment.ShortNotCapital` and, via `drupal/coder` which is out-of-date and incompatible with `php_codesniffer` 3.x, `Drupal.Commenting.DocComment.ShortFullStop`.)

[2018-04-13 10:43] chrisdeeming opened #580 "Support PHP 7.2 in version 1.2.x"
My dev environment typically uses the most up to date PHP version available, though the application we develop actually requires a minimum of PHP 5.4 currently so we have to use v1.2.0. To avoid introducing code that is not compatible, I develop with the language level set to PHP 5.4 in my IDE.

However, because the composer.json file for v.1.2.0 requires `"php": ">=5.4.0,<=7.1.99"` every time I a

[2018-04-13 17:50] oliverklee commented on #580
Hi @chrisdeeming, Emogrifier 1.2.x is not supported anymore. However, I've created a branch `1.2.x` for you to create a pull request against if you like. Please also add PHP 7.2 to the Travis CI build matrix so we can be sure things work correctly.

I don't know of any issues with Emogrifier 1.2.0 running under PHP 7.2. But then again, I have never used that version with PHP 7.2. :-)

By the way,

[2018-04-14 01:01] JakeQZ commented on #580
I've been involved with Emogrifier since 1.2.0 and don't recall any changes specifically addressing PHP 7.2 issues.

As Composer doesn't install PHP, and PHP 7 should be fairly settled now, it may be wiser to make the requirement `... || ^7.0` or `... <=7.99` to avoid pointlessly revisiting this issue.

PHP 7 adoption is strong now, aided by pushing by hosting providers having realized it will sav

[2018-04-14 08:38] oliverklee commented on #580
Please let's keep the PHP version requirements to `~7.x`, not `^7.x` (i.e., we'll to add new PHP feature releases when they come up). I'd prefer this because we make a statement about the compatibility with PHP versions, and people will rely on that and might get breakage if we don't do this well.

I'm willing to create short-terms bug-fix releases that add PHP version compatibility.

[2018-04-18 14:10] nathanpitman opened #581 "FR: Convert specific placeholder DIVs to tables"
One of the biggest headaches of working with HTML email is all the unnecessary markup which is required to 'make stuff work'. Most common is representing every single 'block' of content in an email with a table that has a single row and cell in order to accommodate margins and padding on a content area.

It would be neat if in my HTML I could write:

[code]

And then get back from Emogrifier:

[co

[2018-04-18 17:41] oliverklee commented on #581
@nathanpitman Thanks for the feature suggestion!

Do you know how widespread this approach is? (If I understand it correctly, this would make visually testing the CSS before sending the emails quite hard.)

Technically, this should be implemented by creating a new class that is a subclass of the `AbstractHtmlProcessor` (currently only in master).

Anyway, please feel free to create a PR for this f

[2018-04-18 17:43] oliverklee commented on #581
@nathanpitman Do you have any data on which email clients support CSS so badly that layout tables are still necessary?

[2018-04-18 22:35] nathanpitman commented on #581
Hi Oliver, as of Outlook 2007 Microsoft have used the Word rendering engine to render HTML email. This is incapable of reliably rendering margins or padding on anything other than a table cell and so to get a reliable layout across clients you have to replace divs with tables with a single row and cell.

There's some good insight here: https://www.campaignmonitor.com/dev-resources/guides/coding/#t

[2018-04-19 07:25] oliverklee commented on #581
@nathanpitman Thanks for the explanation and the link!

Would you be willing to implement this and provide a PR?

[2018-04-19 08:36] nathanpitman commented on #581
I would love to, can't promise it will be immediate though!

[2018-04-19 08:41] oliverklee commented on #581
Okay, there's no hurry. Looking forward to it!

[2018-05-17 11:13] chrisdeeming commented on #580
Sorry for the delay with this. In my testing it all seems ok and Travis seems to be passing so it really was just a case of moving the version constraints.

[2018-06-05 10:44] oliverklee opened #583 "Make LICENSE GitHub-parseable"
GitHub does not recognize our LICENSE file as MIT (unlike Symfony: https://github.com/symfony/symfony/blob/master/LICENSE). We should find out why and then fix this.

[2018-06-05 17:11] zoliszabo opened #585 "composer update fails for PHP version < 7"
It looks like Travis CI builds fail now, because `composer update` won't install packages anymore for PHP versions smaller than 7.0.

Log of the latest successful run of the Travis build:
https://travis-ci.org/MyIntervals/emogrifier/jobs/365757072#L516

Currently failing build log:
https://travis-ci.org/MyIntervals/emogrifier/jobs/388365600#L506

Please observe the difference how now it says `No d

[2018-06-05 17:45] JakeQZ commented on #585
I'm also seeing it fail with 1.6.3 locally.  I think it had succeeded before because it was not starting with a clean system, and the dependencies and autoload files were already present from a previous build, e.g. in https://travis-ci.org/MyIntervals/emogrifier/jobs/364877259 before #576 we see

whereas in https://travis-ci.org/MyIntervals/emogrifier/jobs/365752325 after that change we don't see

[2018-06-05 20:11] zoliszabo commented on #585
You're right.

Or we remove the `slevomat/coding-standard` dev-dependency from composer.json and use `composer require --dev slevomat/coding-standard` directly from .travis.yml, only when `composer ci:php:sniff` is also executed (PHP version >= 7).
We could even execute both `ci:php:md` & `ci:php:sniff` only once (like you also suggested here: https://github.com/MyIntervals/emogrifier/pull/576#iss

[2018-06-05 21:22] oliverklee commented on #585
Yes, let's do that.

I'm fine either way.

[2018-06-05 21:36] JakeQZ commented on #585
Yes, that would work.  It does overwrite composer.json so I'd hope the next Travis build running from the same directory would restore its original content (if it doesn't, the result would be as in the previous builds which succeeded despite Composer failing to update previously installed packages to the desired versions).

[2018-06-06 09:03] oliverklee commented on #585
We can restore the `composer.json` after the `composer require`, e.g., like this: https://github.com/helhum/ext_scaffold/blob/master/.travis.yml#L26

[2018-06-06 09:03] oliverklee commented on #585
(We'd then have to remove the `composer validate`, but that's okay.)

[2018-06-26 19:07] kozaktomas opened #587 "Allow installation in PHP 7.3"
Hello, please could you add PHP 7.3 in composer.json? Currently is impossible to install Emogrifier. I would like to add tests to our pipelines and test new PHP in alpha version.

[code]

Thanks a lot!

[2018-06-26 21:21] kozaktomas commented on #587
I installed it with `--ignore-platform-reqs`. But anyway, it could be easily done in composer.json.

I found some incompatibilities in code and I've prepared PR #588

[2018-06-27 07:52] oliverklee commented on #587
This PR currently is blocked by #588 and #585.

[2018-06-28 14:28] #585 closed

[2018-08-06 04:09] bclarkau opened #590 "Capitalized elements with classes in CSS not parsing"
I'm having a bit of trouble with using Emogrifier with my HTML/CSS. The issue seems to be that the parser does not always pick up elements in the CSS if they are capitalized (eg. "A" instead of "a").

Here's a simplified test:

HTML
[code]

CSS (note the capitalized A's)
[code]

What I expected to see after inlining is that the first link is coloured red, and the second be coloured green. However

[2018-08-09 02:05] JakeQZ commented on #590
Thanks for the detail and analysis in your report, it does look like a possible bug.

Which version (s) are you testing against or are you using 'master'?

'master' has a change to use the Symfony selector-to-xpath calculator which could affect results since 2.0.  There are a few places in the code with comments about, and tests for, allowing case insensitivity wherever it should be.  Though the s

[2018-08-09 23:34] bclarkau commented on #590
No worries, I'm using v2.0.0

[2018-08-10 00:27] bclarkau commented on #590
I've also just tried v1.2.1 and am seeing the same issue with the test code above.

Thanks a lot for looking into this!

[2018-08-22 22:47] jsnfwlr commented on #551
Could you not just have zaininnari/html-minifier as a dependency and use that?

[2018-08-23 09:13] oliverklee commented on #551
@jsnfwlr Thanks for the suggestion!

The description of this ticket omitted that the responsibility of our `HtmlMinifier` should be removing nodes with `display: none;` and similar stuff, not removing whitespace. So `zaininnari/html-minifier` won't help in this regard. Thanks anyway for the suggestion!

[2018-09-13 05:56] phena109 opened #591 "nbsp is converted to plain space character"
Hi all,

I have tried something simple like `<div>A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B</div>` and emogrifier still convert those into space character. Reading the past issues like #95 and #98 I thought the issue is fixed. Is this only true for 1.x branch? I am using version 2.0.

If this cannot be fixed in some reasonable time, will there be a work around for that? I myself have done some search

[2018-09-13 09:41] oliverklee commented on #591
In short: No. Internally, we don't have the HTML as text representation, but work on a DOM tree and then render it back to text. So this will not come. Sorry.

[2018-09-13 09:41] #591 closed

[2018-09-21 15:15] paramdhal opened #592 "Class names with hyphens in them increases specificity of the selector"
Example
[code]
Output
[code]
Expected
[code]

Issue is probably with the regex only using word-boundraries and not matching hyphens
https://github.com/MyIntervals/emogrifier/blob/fb0cc85766dbd723b48f55cab2ad3381a668a521/src/Emogrifier.php#L1580

[2018-09-21 15:40] paramdhal commented on #592
@oliverklee Yeah I will try and submit a pull request today otherwise I might have to do it next week.

[2018-09-25 09:16] oliverklee commented on #592
@paramdhal Good to know. Thanks for the update!

[2018-10-08 10:48] collizo4sky opened #593 "Why is [ converted to %5B after emogrify?"
Say I have something like {{hello}}, it will be converted to %7B%7Bhello%7D%7D

What encoding is that?

FWIW I am using composer version ^1.0

[2018-10-08 10:50] oliverklee commented on #593
@collizo4sky Does this also happen with version 1.2.1?

[2018-10-08 10:51] collizo4sky commented on #593
From my composer.lock file, I think I am using V1.2.0. Let me update to 1.2.1 and see.

Brb

[2018-10-08 11:10] collizo4sky commented on #593
Found the issue, this has nothing to do with emogrify. There was a urlencode at the top of the content being emogrified.

[2018-10-08 11:10] #593 closed

[2018-10-09 15:18] Identity-labs opened #594 "How to disable output <style>"
Hi,

How to disable

`<style type="text/css"><![CDATA[@media (max-width:900px) { ...`

In output rendering ?

Thx

[2018-10-09 15:49] Identity-labs commented on #594
Yes, I want to remove all style node

[2018-10-09 16:06] zoliszabo commented on #594
@Identity-labs Emogrifier does not currently offer an option to not include the non-inlineable styles into the final output. For details see code here: https://github.com/MyIntervals/emogrifier/blob/fb0cc85766dbd723b48f55cab2ad3381a668a521/src/Emogrifier.php#L420.

@oliverklee Would it make sense in your opinion to include such an option?

[2018-10-09 16:09] oliverklee commented on #594
@Identity-labs The `style` tag includes the media queries. If it is removed, part of the CSS is missing. Why would you want to remove it?

(And if you don't need the media queries, I propose you remove them from your source CSS.)

@zoliszabo I currently don't see why removing the node would make sense.

[2018-10-14 11:50] oliverklee commented on #580
Closed via 24de2b3e7ace82560ab25b57c9b42531e31cad40.

[2018-10-14 11:50] #580 closed

[2018-10-14 11:51] oliverklee commented on #581
@nathanpitman Any news on this?

[2018-10-15 11:37] Identity-labs commented on #594
The css use is the css of an application.
But we want tu render a part of the UI in mail.
The media queries is use for our cases

[2018-10-15 11:40] Identity-labs opened #598 "Optimization / cache"
Hi,

Can CSS parsing be cached to improve processing time ?

We use emogrifier to make automated reporting and the css is the same every times.

Thx

[2018-10-15 12:40] oliverklee commented on #594
Then the `style` node will do not harm. As Emogrifier's main responsibility is "get HTML and CSS, and inline the given CSS in the HTML", I see it as the responsibility of the code providing the initial CSS to remove any CSS that should not be in the output.

Hence closing.

[2018-10-15 12:40] #594 closed

[2018-10-15 13:00] oliverklee commented on #598
Hi @Identity-labs, currently, the CSS is automatically cached for each Emogrifier instance, but not cross-instance. A pull request implementing this for (optimally, for the new `CssInliner` class) would be more than welcome!

[2018-10-15 13:00] #598 closed

[2018-10-15 13:07] Identity-labs commented on #594
Thx I will fork and add on option my self to disable call of $this->copyUninlineableCssToStyleNode($xmlDocument, $xPath, $cssRules['uninlineable']);

[2018-10-19 10:36] chrisdeeming commented on #587
@oliverklee might we be able to re-open this now?

[2018-10-19 10:37] oliverklee commented on #587
Oh, of course. The autoclosing was incorrect. Sorry, my bad. Reopening.

[2018-10-24 10:58] oliverklee opened #610 "Rename `$this->xmlDocument`?"
`$this->xmlDocument` is an instance of `DOMDocument`, and semantically, it's an HTML document, not an XML document. Should we rename it to `htmlDocument` or `domDocument`?

@zoliszabo, @JakeQZ, what do you think?

I myself would opt for renaming to `domDocument`, as I think semantic wording is a good thing in code.

[2018-10-24 11:15] zoliszabo commented on #610
Good observation! I would also vote for `domDocument`.

[2018-10-24 11:55] JakeQZ commented on #610
I'd also agree with `domDocument` for the same reason.  Presumably methods `createXmlDocument` and `createRawXmlDocument` should also be renamed?

[2018-10-24 11:58] oliverklee commented on #610
Thanks for the opinions! Then it's settled, and I'll take care of the renaming.

[2018-10-24 16:42] JakeQZ commented on #574
All of the potential sniffs alluded to here have either been added, or I was unable to find an off-the-peg sniff that would meet our requirements.  Whilst it is possible to write custom sniffs for PHPCS, the effort would probably outweigh the benefit for a relatively small project.

So I think this can be closed now.  We can always open a new issue if we come across specific sniffs that should be

[2018-10-24 16:42] #574 closed

[2018-10-25 08:42] #484 closed

[2018-10-29 08:12] elakeduck opened #628 "Parsing CSS with animations will lead to an fatal error in DOMXPath"
Following CSS will lead to an **fatal error** in emogrifier V1.2.1:
[code]

**The thrown error:**
` Fatal error: Uncaught InvalidArgumentException: DOMXPath::query(): Invalid expression in selector >> 100% << in Emogrifier.php on line 371 in Emogrifier.php:1533 Stack trace: #0 [internal function]: Pelago\Emogrifier->handleXpathError(2, 'DOMXPath::query...', '...', 371, Array) #1 Emogrifier.php(371

[2018-10-29 08:21] elakeduck commented on #628
Using the newer version `2.0.0` seems to not have this issue.

[2018-10-29 10:31] oliverklee commented on #628
Thanks for the feedback. I'm glad to read that this works for you now. Closing.

[2018-10-29 10:31] #628 closed

[2018-11-13 10:29] TwanVermeulen opened #634 "Stylesheet in body seems to be ignored by gmail"
I'm currently working on a responsive email design. I don't get the media queries to work correct in gmail while using v2.0 of emogrifier. If I use the older version (1.2.1), it seems to work fine.

I think it's related to (https://github.com/MyIntervals/emogrifier/pull/396), since all style blocks are automatically moved to the body. I think gmail automatically ignores those stylesheets.

Is anyo

[2018-11-20 17:43] rodrigoprimo opened #635 "Emogrifier 1.2.x and PHP 7.3"
Are there any plans to release a new version of 1.2.x adding support to PHP 7.3 similar to what was done to PHP 7.2 (#580)?

cc @chrisdeeming as you worked on the changes for PHP 7.2

[2018-11-20 17:45] chrisdeeming commented on #635
Yes we have done some work towards that already.

Which reminds me; I think it might be waiting for me to do some more on that before we can get it released.

I’ll try and get that done soon.

[2018-11-24 14:54] oliverklee opened #636 "Move the version number out of the class file(s)"
Historically, the current version number has been in the (at that time only) class file:
https://github.com/MyIntervals/emogrifier/blob/master/src/Emogrifier.php#L10

Now that we have more than one class file, I'd like to move it out of the class files. I currently see two options:

a) completely remove it as Composer already has the information which version is installed
b) move it to a `VERSION`

[2018-11-26 07:43] zoliszabo commented on #636
For visual inspection, while redundant, a `VERSION` file may be more intuitive for many. But again, it's extra maintenance. Don't know 🙂

Or even a package like https://github.com/Ocramius/PackageVersions can be used to programatically retrieve the installed version of Emogrifier.

[2018-11-26 09:06] oliverklee commented on #636
Then let's completely remove the version number, and if someone complains, we can point them to https://github.com/Ocramius/PackageVersions.

Thanks for the thoughts on this!

[2018-11-26 13:18] #636 closed

[2018-12-06 14:52] oliverklee opened #639 "Release version 2.1.0?"
In https://github.com/MyIntervals/emogrifier/pull/638#issuecomment-444890570, @TimWolla asked whether a 2.1.0 release really soon would be possible.

Originally, I had planned to finished the `CssInliner` class first and make the final API in place before people start using it first.

Instead, I could mark the `CssInliner` class as `@internal` for the time being and add a comment that the API is s

[2018-12-06 15:06] JakeQZ commented on #639
I agree it is too soon to say the `CssInliner` interface is final.  However, there have been a number of fixes and enhancements since `2.0.0` and as far as we are aware the development branch is stable.  Including `CssInliner` even though marked `@internal` would allow those who wished to to try the new interface, and may even attract some constructive feedback.

The alternative would be to make a

[2018-12-06 15:08] oliverklee commented on #639
Emogrifier follows semantic versioning. As we have new features (but no breaking changes), we'll need to have a 2.1.0 release, not a 2.0.1 release.

[2018-12-06 15:10] TimWolla commented on #639
I believe @JakeQZ meant a 2.0.1 with only these two commits:

bf22f9e5efaa3802c28487f44e78203307d5f0b8
27cf8557f4d1ebd71ee5c4b4d6c20ab1ce18f262

The PHP 7.3 one from me is tagged as FEATURE, but it probably qualifies as a BUGFIX as well.

[2018-12-06 15:20] zoliszabo commented on #639
Yes, I also like the `2.0.1` approach only with the PHP 7.3 compatibility changes.

OTOH releasing `CssInliner` (as `@internal`) may be beneficial to get valuable feedback, like it was mentioned above. Holiday season is coming, so hopefully there will be more time to work on Emogrifier :)

[2018-12-06 15:30] zoliszabo commented on #639
I'm fine with it. 👍

[2018-12-07 02:53] JakeQZ commented on #639
Go for it :)

I would suggest the buzzword (or buzzphrase) "new technology preview" (or at least perhaps "preview") for `CssInliner` :》

This would not affect plans for 3.0 when `Emogrifier` the class becomes deprecated, and certainly avoids 'version soup' (as well as extra faff).

[2018-12-07 23:03] chrisdeeming commented on #639
@oliverklee a 1.2.2 or 1.3.0 version would be appreciated too.

[2018-12-08 11:32] oliverklee commented on #639
The 1.x branch ist not maintained anymore, and I'd like to spend as little time as possible with it. For getting the changes in the 2.x releases, I'd like people to use the 2.x releases instead.

[2018-12-08 12:31] oliverklee commented on #639
To clarify things: I'm willing to do the 1.2.2 release if someone else takes care of backporting the fixes they'd like to have on the 1.2.x branch.

[2018-12-08 13:55] #639 closed

[2018-12-08 15:50] oliverklee commented on #634
Hi @TwanVermeulen, as far as I know, nobody has been aware of this issue so far. Would you be willing to debug this further and find out the root cause? Thanks!

[2018-12-08 15:52] oliverklee commented on #639
I've just tagged version 2.1.0 and created the release notes.

[2018-12-08 17:16] zoliszabo commented on #634
I can confirm. This is something we overlooked.

After a quick search, several sources say (e.g. [emailonacid]((https://www.emailonacid.com/blog/article/email-development/12_things_you_must_know_when_developing_for_gmail_and_gmail_mobile_apps-2/#gmail_tip4)) that, indeed, Gmail strips out `<style>` elements embedded in the `<body>`.

Also did a quick test myself, which confirms this.

As a workaro

[2018-12-08 17:21] TwanVermeulen commented on #634
OK, let me get back to you

On Dec 8, 2018 18:16, "Zoli Szabó" <notifications@github.com> wrote:

I can confirm. This is something we overlooked.

After a quick search, several sources say (e.g. emailonacid that, indeed,
Gmail strips out <style> elements embedded in the <body>.

Also did a quick test myself, which confirms this.

As a workaround (and this is how I actually use Emogrifier in real c

[2018-12-08 22:16] zoliszabo commented on #634
Foundation for Email documentation seems to be really lagging behind on how and what current email clients are able to do.

From https://foundation.zurb.com/emails/docs/css-guide.html#inlining:

This is absolutely not true!

On the page of their online inliner tool:

Also not true. And their online inliner tool really behaves like described, i.e. puts `<style>` in body.

I took the time to set up

[2018-12-08 23:34] oliverklee commented on #634
I'm for keeping it simple: Move the `style` element back into the `head`, and if someone complains, add an option to duplicate it. And then let's release a quick 2.1.1 with this change.

[2018-12-08 23:37] JakeQZ commented on #634
Ok.

[2018-12-09 16:37] oliverklee commented on #590
@bclarkau Could you please test if the same problem occurs if you use the new `CssInliner` class?

[2018-12-09 19:13] #634 closed

[2018-12-11 04:57] bclarkau commented on #590
Thanks for following up.

I ran my above test code again using the CssInliner class (in v2.1.1) and it's working perfectly. I'm seeing the expected inlined output now. I'm also seeing CssInliner working in my actual application.

Looking forward to using it in v3!

[2018-12-30 16:09] Johnny99211 opened #646 "Emogrifier turns {} into %7B and %7D"
I'm currently setting up an email template which has two parts: The HTML and the CSS. To put everything together and merge the HTML with the CSS I'm using the PHP Emogrifier.

Now I've found out that when I emogrify the two elements that there is a problem with the uft-8 encoding.

All works like Ä, Ü, Ö are correctly displayed but when I put a link like this here into the content, the utf-8 encod

[2018-12-30 16:44] zoliszabo commented on #646
_This is not a UTF-8 encoding issue, but the correct representation (encoding) of a href attribute._

Depending on how you replace your template variables (placeholders), one quick solution would be to also encode the placeholder before the replace:

[code]

[2018-12-30 16:46] Johnny99211 commented on #646
This is a bug in the emogrifier. I'm replacing the placeholder after the emogrify process but the placeholder is broken after merge css to the html with the help of emogrifier: https://github.com/MyIntervals/emogrifier/issues/98

[2018-12-30 16:48] Johnny99211 commented on #646
I've temporarily fixed it with this workaround after the emogrify process but in my eyes this is a bug which needs to be fixed:

[code]

[2018-12-30 17:11] zoliszabo commented on #646
Please note that Emogrifier uses [DOM](http://php.net/manual/en/book.dom.php) to work with HTML and the encoding we are talking about in this thread is a direct result of [DOMDocument::saveHTML()](http://php.net/manual/en/domdocument.savehtml.php). Please check here: [DOMDocument::saveHTML() behaviour example](http://sandbox.onlinephpfunctions.com/code/3be3685bc7bf1b86f3f956e1e82380a219c1b0a7).

Y

[2018-12-30 22:50] oliverklee commented on #646
For the record, my educated guess is that for href attributes, the value is expected to be a URL, that `DOMDocument::saveHTML()` properly URL-encodes the URL again. So I'm not sure there is a clean way of fixing/breaking this in Emogrifier (depending on whether creating URLs that are not properly encoded are considered a bug or a feature).

[2018-12-31 12:45] zoliszabo commented on #646
Yes, this is exactly what I was trying to describe above. It is definitely not a bug from Emogrifier, since this behaviour is inherited from `DOMDocument` and it actually is the right way to do it.

However, given the fact that in many cases Emogrifier is used in a combination with some sort of templating system (which may use URL-encodable characters as template variable delimiters), we should se

[2019-01-02 17:49] oliverklee commented on #646
Maybe we can add some `HtmlProcessor` subclass that has two new methods: `renderWithTemplateMarkers` and `renderBodyWithTemplateMarkers` that take a string of characters that should not be URL-encoded (i.e., for which the URL-encoded variant will be replaced with the verbatim characters), having some characters as default value for that parameter.

What do you think?

[2019-01-02 18:48] JakeQZ commented on #646
Architecturally this seems ok.  In terms of implementation, there are a couple of possible approaches that may be viable and would avoid needing to specify which characters should not be URL-encoded:

1. Before calling `saveHTML()`, replace all `href` attributes with a uniquely-named attribute with the same value, e.g. `data-emogrifier-href`; then a `str_replace()` can be applied to the result to

[2019-01-07 14:09] oliverklee opened #649 "Add the Travis CI app to the organization"
Travis CI has deprecated their services, i.e., the Travis CI service as well. Instead, GitHub Apps and webhooks should be used.

@jjriv, could you please grant the Travis CI app access to the GitHub repo?

https://github.com/marketplace/travis-ci

[2019-01-08 10:51] oliverklee commented on #649
Looks good. Thanks!

[2019-05-01 08:53] riversy commented on #628
Hello, It still reproduced for me in 2.1.1.
The following piece of styles causes error: `DOMXPath::query(): Invalid expression in selector >> 100% << `
[code]

[2019-05-01 09:10] riversy commented on #628
To test it I added the following test method into tests/Unit/EmogrifierTest.php:
[code]

And as result it caused the error:
![image](https://user-images.githubusercontent.com/773002/57011367-ff957080-6c09-11e9-877e-c5a2c9a41bb0.png)

[2019-05-01 11:21] oliverklee commented on #628
@riversy Thanks for reporting. As your CSS is different, could you please open a new ticket for this? Thanks!

[2019-05-13 10:01] oliverklee opened #657 "Add a list of sites to the README"
https://github.com/tijsverkoyen/CssToInlineStyles has a list of sites using their library in their README. Should we have a list like that as well? (I'd like that.)

Which sites should/can we add?

[2019-05-14 17:07] jjriv commented on #657
The emogrifer landing page has a list of sites that we're aware of:
https://www.myintervals.com/emogrifier.php

You could start with that list. I'm sure there are others. Once the README is updated I'll also update our web site to reflect the current listings.

[2019-05-14 21:01] JakeQZ commented on #657
https://www.myintervals.com/emogrifier.php

I can't see a list there.

Any website using a somewhat recent (< 3 years?) version of WooCommerce would be using it.  That's possibly as many as [almost half a million](https://trends.builtwith.com/websitelist/WooCommerce-Checkout)!

[2019-05-24 15:21] #554 closed

[2019-05-25 10:01] oliverklee opened #666 "Document CssInliner in the README"

[2019-06-25 11:47] oliverklee opened #669 "Make the static methods in CssConcatenator non-static"
The public methods are not static, as there is no reason some private methods are static.

[2019-06-26 01:08] JakeQZ commented on #669
They're `static` because they don't operate on `$this` and are more like helper functions.  There's no reason I see for them _not_ to be `static`.

[2019-06-26 09:16] oliverklee commented on #669
It seems we have two different philosophies for private methods:
- make them static unless they need to be non-static
- make them non-static unless they need to be static

So we're at an impasse here, I think. :-)

Closing this ticket as I'm not really passionate about this change.

[2019-06-26 09:16] #669 closed

[2019-06-26 22:22] JakeQZ commented on #669
Agree it boils down to opinion, and YMMV :)

I like to emphasize the 'contract' with `static` if possible that "this method will not modify the object".  In PHP, with late static binding, even `static` methods are overridable.  In C++ they would need to be made non-`static` to allow overriding.

That said, I've noticed that `getCss` uses `[$this, 'getMediaRuleCss']` as a `callable` whereas `getMed

[2019-06-26 22:35] oliverklee commented on #669
Oh, then we need to fix this.

[2019-07-31 09:37] oliverklee opened #673 "Remove the "dist" entry from .travis.yml"
This line is only necessary so PHP 5.5 can be compiled on Travis CI. We can remove it once we do not support PHP 5.5 anymore.

[2019-08-27 16:21] #552 closed

[2019-08-29 08:09] drnkwati opened #677 "Emogrifier adds tags but never closes them"
Hi
If I provide an html source with missing tag whose style is present, the compiler creates the tag but never closes it.
Example:
[code]

If I run the above code the compiler will add an HTML body with the provides style but never closes the body;
Is this expected if not how can we turn this behavior off

thanks

[2019-08-29 10:14] oliverklee commented on #677
Hi @drnkwati, thanks for the bug report. I think your code snippets are not complete. Could you please update them and use triple backticks for code highlighting like this?

[code]

Thanks!

[2019-08-29 15:09] #553 closed

[2019-08-29 16:37] JakeQZ commented on #677
I can reproduce this.  The issue is with `emogrifyBodyContent` when the `body` element has attributes (in this case it has a `style` attribute).  (The internal method `renderBodyContent` strips the `<body>` and `</body>` tags with a simple `str_replace`, and thus fails to remove the opening tag when it has attributes.)

Possible workarounds:
- Remove any CSS rules that apply to the `body` element

[2019-08-29 21:58] oliverklee opened #680 "CssInliner in release 3.0.0"
1. Should we mark `CssInliner` as the new default (instead of as as tech preview) and mark the `Emogrifier` class as deprecated in 3.0?
1. As 3.0 is per semantic-versioning definition a breaking release (and `CssInliner` a tech preview before 3.0), do you think ti would be okay if we removed the automatic removal of invisible nodes from `CssInliner` for 3.0?

[2019-08-29 22:00] oliverklee commented on #680
And we have this remark in the `README` anyway:

`$emogrifier->disableInvisibleNodeRemoval()` - By default, Emogrifier removes
  elements from the DOM that have the style attribute `display: none;`.  If
  you would like to keep invisible elements in the DOM, use this option.
  Note: This option will be removed in Emogrifier 3.0. HTML tags with
  `display: none;` then will always be retained.

[2019-08-30 00:54] JakeQZ commented on #680
I think so.

As it's a tech preview before 3.0, we could even remove it for 2.2 (if there is a 2.2) - along the lines of the semantics for pre-1.0 releases (i.e. version 0.2 may include breaking changes from 0.1 though 0.1.1 may not).  And anyway, we have already changed the way `CssInliner` instances are created since 2.1.x, which is a breaking change (`new CssInliner($html)` -> `CssInliner::from

[2019-08-30 09:13] oliverklee commented on #677
@JakeQZ @zoliszabo Is any of you planning to work on this during the next few days? Otherwise, I'd like to move this bug to a later milestone so we can get 2.2.0 out of the door soon.

[2019-08-30 15:23] JakeQZ commented on #677
I may have time as it is a fairly straightforward fix...

[2019-08-30 15:35] oliverklee opened #682 "Move the removal of unprocessable tags from CssInliner to HtmlPruner"
@JakeQZ @zoliszabo I've been thinking about also moving the removal of unprocessable tags from `CssInliner` to `HtmlPruner` before the 2.2.0 release. What do you think?

[2019-08-30 16:07] JakeQZ commented on #682
Seems reasonable.  Historically these tags were removed before the emogrification process, but since #652 I don't think it matters much (and in any case, a `HtmlPruner` instance can process the document before and/or after `CssInliner`).  The feature was probably mainly a workaround for the `DOMDocument` limitation fixed by #652, but may be used for other purposes in the wild.

[2019-08-30 18:33] #677 closed

[2019-08-30 18:34] oliverklee commented on #551
Closed by #679.

[2019-08-30 18:34] #551 closed

[2019-08-30 19:02] oliverklee commented on #682
Now that I think of it, it looks like we don't need the feature of removing the unprocessable tags anymore. (And if a user needs it after all, we probably will here from them once we have deprecated and then removed the `Emogrifier` class.) So I'm going to remove the corresponding functionality from `CssInliner`.

[2019-08-30 21:52] #682 closed

[2019-08-31 15:38] oliverklee opened #688 "Plan the 3.0.0 release"
@zoliszabo, @JakeQZ, I'd like to release version 3.0.0 relatively shortly after version 2.2.0 as I'm salivating for these changes (which will come after 3.0.0 for version 4.0.0):

- drop the old `Emogrifier` class and make everything PSR-4-compliant
- drop support for PHP < 7.0 and use all the niceties of PHP 7
- drop support for non-Composer installations

For this, I'd like to postpone some thin

[2019-08-31 22:57] JakeQZ commented on #688
I've added #380 and assigned it to myself.  I think this would be a good test of the new design to iron out any issues (it will be implemented mostly by `HtmlPruner`), and I have a clear solution in mind (which I've already implemented 'locally' for `Emogrifier`).  I'll write up the proposal there soon...

At a quick glance, quite a few issues look like they'd be fixed by `Symfony\Component\CssSel

[2019-09-01 13:03] oliverklee commented on #688
Yes, that's what I would like to propose, too.

[2019-09-01 21:45] #666 closed

[2019-09-02 00:41] JakeQZ commented on #544
I've read the readmes of the two suggested possibilities, but have not looked in any detail...

Looks like it would parse the CSS and organize into an OO data structure along the lines of the W3C spec.  Seems to misname 'Declaration' as 'Rule', but the principle and organization appear correct, so that should be a non-issue.  Property values have their own classes (like URL, Color) - we really onl

[2019-09-02 01:06] JakeQZ commented on #688
#544 looks like quite a biggie.  I've looked again and added a comment.  One of the suggested libraries looks worth investigating further, and probably using.  But it will likely be a fair bit of refactoring, plus initial investigation.  So I'd suggest moving that to 4.0.0.

Ah, I've read that again now.  I honestly don't expect to have that much time available - sorry - so it's difficult to commi

[2019-09-03 12:00] oliverklee commented on #688
Yes, let's do this.

[2019-09-04 17:19] #339 closed

[2019-09-04 17:27] oliverklee commented on #673
Fixed by #690.

[2019-09-04 17:27] #673 closed

[2019-09-04 18:48] #438 closed

[2019-09-04 19:22] #482 closed

[2019-09-04 19:22] #483 closed

[2019-09-05 12:24] #134 closed

[2019-09-06 14:42] JakeQZ commented on #380
Now that we have `HtmlPruner`, this feature can be implemented.

For the DOM manipulation, I propose the following method in that class:
[code]

This would iterate elements with a class attribute; compute the intersection of the whitespace-separated class names in that attribute value and those in the passed-in parameter; and update (or remove) the class attribute with the resultant list of classe

[2019-09-09 15:29] JakeQZ opened #695 "Update documentation to describe `CssInliner` instead of `Emogrifier`"
From 3.0, `Emogrifier` will be deprecated so the documention should detail how to use the `CssInliner` and family of classes rather than `Emogrifier`.

[2019-09-09 15:32] JakeQZ commented on #695
I've updated a project to use `CssInliner` instead of `Emogrifier` without any problems.  The following code snippets may be useful to help describe the changes that would be needed to migrate from `Emogrifier` to `CssInliner`:

Old code using `Emogrifier`:
[code]

New code using `CssInliner` and family:
[code]

[2019-09-09 15:37] oliverklee commented on #695
You can also reuse the same `$domDocument` instance (i.e., you'll need only one `getDomDocument()` call in total):

[code]

By the way, why the `inlineCss('')` call with an empty string?

[2019-09-09 15:41] JakeQZ commented on #695
Good point.

In my case, all the CSS is contained in a `<style>` element within the HTML.  Though passing some `$css` as a parameter would probably make for a better example.

[2019-09-09 15:44] oliverklee commented on #695
Would it make sense to have the argument for `inlineCss` optional for cases like that?

[2019-09-09 16:43] JakeQZ commented on #695
It could be, though it's not a big deal.  Though for consistency with `Emogrifier` it should probably be optional - it was optional in the `Emogrifier` constructor.

[2019-09-09 18:21] oliverklee opened #696 "Make the argument for CssInliner::inlineCss optional"

[2019-09-11 01:03] JakeQZ commented on #179
This was fixed by #400 (in 2.0.0), with some prior relevant changes in #361 and #392.  The unit test `EmogrifierTest::emogrifyNotInDebugModeIgnoresInvalidCssSelectors()` (there's a similar one for `CssInliner`) should ensure that rules with invalid selectors are silently ignored, unless debug mode is enabled.

So I'm closing this now.

[2019-09-11 01:03] #179 closed

[2019-09-11 07:54] #71 closed

[2019-09-11 10:25] JakeQZ commented on #347
Looking at the code, I think `addExcludedSelector()` is behaving as intended, preventing nodes matching the selector from having inline styles applied.  But to exclude a whole subtree would require a selector to match every element in the subtree.

So as well as
[code]
it would also be necessary to add an exclusion selector to match all the descendant elements:
[code]

We should expand on the docu

[2019-09-11 10:30] JakeQZ commented on #367
See https://github.com/MyIntervals/emogrifier/issues/179#issuecomment-530176385 - this was resolved by #400 in 2.0.0.

[2019-09-11 10:30] #367 closed

[2019-09-11 10:42] #696 closed

[2019-09-11 11:28] oliverklee commented on #347
[…]

I agree.

[2019-09-11 11:31] oliverklee commented on #380
@JakeQZ I like this plan a lot!

I'd prefer approach 2 (adding a method to `CssInliner`).

For the return type, we can replace `HtmlPruner` with `self` (or `static` in case someone would like to subclass the class).

[2019-09-11 14:33] #680 closed

[2019-09-11 14:49] JakeQZ commented on #380
Though until PHP 7 is a minimum requirement we can't type hint the return value, only specify it in the PHPDoc.  (I didn't know that `static`/`self` could be used as a type hint.)

Let me know if you have any thoughts on the method names, which will become part of the public interface.  I'm not 100% sure at present myself...

[2019-09-11 16:42] #259 closed

[2019-09-11 16:58] JakeQZ commented on #550
@oliverklee, I assume this is closely relates to #333 and refers to semicolons in attribute selectors - but let me know if it was something else.

[2019-09-11 16:58] #688 closed

[2019-09-11 16:59] oliverklee commented on #230
I don't think anymore that a pre-commit hook would be a a good thing. People should be able to commit what they want (even if it's half-finished). It's the merging that needs gatekeeping (which we already have in place).

[2019-09-11 16:59] #230 closed

[2019-09-11 16:59] oliverklee commented on #550
Yes, that's correct.

[2019-09-11 17:13] JakeQZ commented on #449
@oliverklee, I presume this refers to the regex in `Emogrifier::$xPathRules` used (indirectly) by `Emogrifier::translateCssToXpath()`.  If so, and given `Emogrifier` will be deprecated in favour of `CssInliner` which now uses the Symfony CssSelector component instead, I suggest that we don't attempt further fixes to `Emogrifier::translateCssToXpath` and can close this?

[2019-09-11 17:14] oliverklee commented on #449
Yes, agreed. Closing.

And thanks for digging through the list of open tickets, @JakeQZ! :heart:

[2019-09-11 17:14] #449 closed

[2019-09-11 17:19] oliverklee commented on #550
I started some work in the `bugfix/colon` and `bugfix/semicolon` branches, but never finished it. The branches could be a starting point, though.

[2019-09-11 17:32] JakeQZ commented on #550
I found those branches.  But now we are using the Symfony CssSelector component, resolving these issues should just be a case of adding unit tests to confirm they are fixed with it, and I'm thinking that we don't need particularly extensive unit tests, as Symfony should have its own - just enough so that we can list fixes in the CHANGELOG...?

[2019-09-11 17:39] oliverklee commented on #550
I agree.

[2019-09-11 22:47] JakeQZ commented on #529
I just found there’s a typo in the `CssInlinerTest` namespace:

Simply correcting this to `Pelago\Emogrifier\Tests\Unit` didn’t seem right, as the other test classes all seem to be within `Pelago\Tests\Unit\…`.

For consistency with how their namespace (and location) corresponds to the class under test, it looks like the namespace for `CssInlinerTest` should be `Pelago\Tests\Unit\Emogrifier` and t

[2019-09-11 23:27] JakeQZ commented on #380
I think the more correct spelling of the word meaning "can be inlined" is "inlinable" (without an "e").  Searching the web for both spellings together turns up many more highly-ranked results without the "e"; dictionaries which give the main entry without the "e" ([for example](https://en.wiktionary.org/wiki/inlinable)) while listing the spelling with an "e" as an alternative form ([for example](h

[2019-09-13 09:41] oliverklee commented on #380
Sounds good.

[2019-09-14 22:03] JakeQZ opened #711 "Move utility classes to Pelago\Emogrifier\Utilities namespace"
`ArrayIntersector` and `CssConcatenator` - from discussion in #710.

[2019-09-15 09:25] oliverklee opened #713 "Mark the utitlity classes as @internal?"
Hi @zoliszabo, @JakeQZ, should we mark the utility classes (`CssConcatenator` and `ArrayIntersector`) as `@internal` so it is clear that they might be removed, moved around or have their API changed without prior notice?

[2019-09-15 21:30] #711 closed

[2019-09-15 21:51] JakeQZ commented on #713
This also occurred to me.

Though now #712 is committed, I don't envisage much likelyhood of that happening - they fulfill the purpose for which they were intended - even #668 is unlikely to have an impact.

OTOH, if there were to be a breaking change it would avoid the need for a new major version.  And anyone using them is likely to be fairly clued up and judicious about potentially breaking upd

[2019-09-16 15:48] #713 closed

[2019-09-17 01:19] JakeQZ opened #717 "HtmlPruner::removeInvisibleNodes could/should be better named?"
I propose `removeInvisibleElements`.

An element is a specific type of node.  In [documenation on MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div), [W3C specifications](https://www.w3.org/TR/2011/WD-html5-20110525/elements.html) and [JavaScript](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement), nodes which are elements are always referred to as elements.

The nodes

[2019-09-17 01:27] JakeQZ commented on #717
A secondary question on the `…Invisible…` part of the name – it doesn't remove elements with `visibility: hidden` but in fact removes those with `display: none`, so perhaps this could also be conveyed more clearly in the name… (though I can't think of great alternatives right now)?

[2019-09-17 01:36] JakeQZ commented on #717
I'm leaning towards `removeElementsWithDisplayNone` – it does what it says on the tin…

[2019-09-17 13:19] oliverklee commented on #717
Sounds good. Let's use this name.

[2019-09-17 17:21] #717 closed

[2019-09-24 23:29] oliverklee opened #719 "Use a PSR-16 caching library for caching"
https://www.php-fig.org/psr/psr-16/

[2019-09-25 19:26] #384 closed

[2019-09-26 17:11] #385 closed

[2019-09-26 17:52] #695 closed

[2019-09-26 21:13] JakeQZ opened #723 "Update supported selectors in README"
Under the heading “Supported CSS selectors” and also the last bullet point under “Caveats”.

Now that we use the Symfony CssSelector component, most selectors (except pseudo-elements and dynamic pseudo-classes) are supported.  The only exception I'm aware of is `:nth-of-type` without a type (i.e., e.g. `p:nth-of-type` works as expected but `:nth-of-type` alone behaves as `:nth-child`) – though `:f

[2019-09-26 21:44] #443 closed

[2019-09-28 08:09] #469 closed

[2019-09-28 13:42] #380 closed

[2019-09-28 14:07] oliverklee commented on #311
Nothing to do here.

[2019-09-28 14:07] #311 closed

[2019-09-28 14:08] oliverklee opened #729 "FIx PhpStorm code inspection warnings"
… including the checks provided by "PHP Inspections (EA Ultimate)"

[2019-09-28 14:10] oliverklee opened #730 "Use `self::` instead of `static::` when overriding is not intended"

[2019-09-28 14:11] oliverklee commented on #77
Nothing to do here.

[2019-09-28 14:11] #77 closed

[2019-09-28 14:20] oliverklee commented on #141
Nothing to do here.

[2019-09-28 14:20] #141 closed

[2019-09-28 15:22] #730 closed

[2019-09-28 15:46] oliverklee commented on #403
Nothing more to do here.

[2019-09-28 15:46] #403 closed

[2019-09-28 16:09] oliverklee opened #733 "Add a class to be used instead of StdClass in CssConcatenator"

[2019-09-28 16:10] oliverklee opened #734 "Move the CSS parsing into a class"

[2019-09-28 17:12] JakeQZ commented on #734
We currently have methods `parseCssDeclarationsBlock` and `getAllNodesWithStyleAttribute` that are duplicated in `CssInliner` and `CssToAttributeConverter`, that could be moved to shared `trait`s.  That is an overlapping issue, but not the same as moving all CSS parsing to a class.

[2019-09-28 17:26] JakeQZ commented on #252
This should be straightfoward to implement - we can just modify the XPath in `HtmlPruner::DISPLAY_NONE_MATCHER` to exclude elements with a specific class.

For the class name, I would suggest a vendor prefix is approprate, and 'keep' or perhaps 'do not remove' is more descriptive than 'show', so we'd have `class="-emogrifier-keep"` or perhaps `class="-emogrifier-do-not-remove"`.

The class would b

[2019-09-28 17:34] oliverklee commented on #252
Sounds good. (I'd prefer "keep" over "not remove".)

[2019-09-28 17:47] JakeQZ commented on #733
Once the `Emogrifier` class is removed, we can do this, as we require installation with Composer and an autoloader (or something to that effect) to use the new classes and have additional dependencies automatically `include`d.

[2019-09-28 20:34] #338 closed

[2019-09-28 20:35] JakeQZ opened #736 "Have Travis run `ci` rather than individual scripts separately."
This can't be done before we drop PHP 5.x, because the CodeSniffer `ci:php:sniff` step requires PHP 7 and is currently run conditionally from Travis.

See discussion at https://github.com/MyIntervals/emogrifier/pull/727#discussion_r329311091 for more info.

[2019-09-28 20:52] JakeQZ commented on #734
Doesn't #544 already cover this (apart from the issues I mentioned in my previous comment here)?

[2019-09-28 21:46] oliverklee commented on #734
This issue is about a potential solution for #734. I'm not quite sure whether we should move the CSS parsing into a separate class/trait, use some 3rd-party library, or both.

[2019-09-28 21:51] JakeQZ commented on #734
But isn't this issue, #734, a duplicate of #544?

[2019-09-29 00:01] JakeQZ opened #738 "Move `getAllNodesWithStyleAttribute()` to a trait"
The method, although simple, is duplicated in `CssToAttributeConverter` and `CssInliner`.  For better maintainability there should be a single common implementation.

Perhaps in a trait named `XPathQuerier` (we could add other XPath query methods in future, if any more need to be shared between classes), and probably in the `Pelago\Emogrifier\Utilities` namespace.

Also probably rename the method

[2019-09-29 00:06] JakeQZ opened #739 "Move `parseCssDeclarationsBlock()` to a trait"
The method is duplicated in `CssToAttributeConverter` and `CssInliner`. For better maintainability there should be a single common implementation.

Perhaps in a trait named `CssDeclarationsParser`, and probably in the `Pelago\Emogrifier\Utilities` namespace.

Note also #544/#734 - we are considering moving all CSS parsing to a separate class, or using a 3rd-party library.

[2019-09-29 00:07] JakeQZ commented on #734
I've added #738 and #739 for the side issues I mentioned.

[2019-09-29 00:14] JakeQZ opened #740 "Support `ci:php:lint` on Windows"
The Composer script for `php -l` uses a *nix-specific command and does not work on Windows.

We should find a way of allowing developers to run the whole of the `ci` script on whatever platform they're using.  (I'm guessing it works OK on macOS as that's Unix-based.  None of the other parts of the `ci` script have an issue on Windows.)

[2019-09-29 00:23] JakeQZ commented on #590
We could probably add a unit test to confirm this is fixed in 3.0 (which will be released soon, probably within a couple of weeks)...

[2019-09-29 01:08] JakeQZ commented on #296
We added support for dropping `@charset` rules without impacting CSS parsing in 2.0.

I don't think we'll ever support alternative charsets to UTF-8, which is the norm these days, unless that norm miraculously changes.

Can we close this as either 'fixed' or 'wontfix'?

[2019-09-29 08:16] oliverklee commented on #296
Yes, let's close this.

[2019-09-29 08:16] #296 closed

[2019-09-29 09:37] oliverklee opened #742 "Use dedicated classes instead of arrays with special keys"
This will make the code more explicit and help static code analysis.

Particularly, we should get rid of `compact`, `list` and family.

[2019-09-29 14:39] #252 closed

[2019-09-29 19:41] JakeQZ opened #747 "Add tests for remaining supported pseudo-classes"
The following are (presumably) supported by Symfony CssSelector, and the regex `PSEUDO_CLASS_MATCHER` allows them, but we do not have any tests confirming this:

- `:nth-last-child`
- `:nth-last-of-type` (with a type)
- `:only-child`

When confirmed as supported by adding tests, we can list them as supported in the README - see #723.

[2019-09-29 19:48] JakeQZ opened #748 "Support all pseudo-classes that Symfony CssSelector does"
The following are (presumably) supported by Symfony CssSelector, but the regex in `PSEUDO_CLASS_MATCHER` does not allow them:

- `:any-link`
- `:empty`
- `:first-of-type` (with a type)
- `:last-of-type` (with a type)
- `:only-of-type` (with a type)
- `:optional`
- `:required`

We should add tests to confirm they are supported, and, if indeed they are, modify the regex to allow them.  ~If any are i

[2019-09-30 10:43] #723 closed

[2019-09-30 12:48] #133 closed

[2019-09-30 13:40] #747 closed

[2019-09-30 16:02] JakeQZ commented on #373
From experience, if a `rebase` is required, the procedure can go awry if not performed carefully.  The following is a tried-and-tested procedure to rebase a ‘feature’ branch to the latest `master`:

1. Make sure that your local copy of the repository has the most up-to-date
  revisions of `master` (this is important, otherwise you may end up rebasing to
  an older base point):
[code]
2. Switch to

[2019-09-30 20:25] #256 closed

[2019-09-30 22:33] #213 closed

[2019-09-30 22:55] #748 closed

[2019-10-01 11:03] #590 closed

[2019-10-01 11:05] #347 closed

[2019-10-01 12:10] oliverklee commented on #210
We can put the performance tests into a Composer script.

[2019-10-01 19:44] oliverklee opened #775 "Move disableInlineStyleAttributesParsing to HtmlPruner?"
@zoliszabo, @JakeQZ, I propose we deprecated this option and instead add a method `removeAllStyleAttributes` or `removeInlineStyles` to the `HtmlPruner` class (which then can be used before `CssInliner` gets used). What do you think?

[2019-10-01 19:50] JakeQZ commented on #775
Makes sense - as they can share the same `DOMDocument`, and there's no reason (I can think of) why `HtmlPruner` can't be instantiated first, then `CssInliner` with `::fromDomDocument`, and the original `HtmlPruner` can still be used after `inlineCss` for post-processing.

[2019-10-01 20:03] JakeQZ commented on #775
It might be an idea to initially mark the method as deprecated for 4.0, and change the current implementation to create a temporary `HtmlPruner` to invoke the functionality (though a quick look at the code indicates that won't be entirely straightforward, due to the way `style` attributes are initially removed anyway, stored in `styleAttributesForNodes` and then later merged with the inlined style